﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Acasă", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <div class="navbar-collapse collapse">
  
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="jumbotron">
            <div class="col-md-12 btn-toolbar" role="toolbar">


                @if (User.IsInRole("elev"))
                {

                    <a href="/s1_a/varianteBlitzDisponibile" class="btn glyphicon glyphicon-list btn-success btn-lg raised active">Variante blitz Subiectul I</a>
                    <a href="/evaluare/listaVarianteFinale" class="btn glyphicon glyphicon-list btn-success btn-lg raised active">Variante complete</a>
                    <a href="/evaluare/lista_rezultateTestari" class="btn glyphicon glyphicon-list btn-info btn-lg raised active">Rezultate variante</a>
                }
                else
                if (User.IsInRole("admin") || User.IsInRole("profesor")) 
                {
                    @*<div class="col-md-12 btn-toolbar" role="toolbar">
                    <a href="/evaluare/variantaNoua" class="btn glyphicon glyphicon-list btn-warning raised active">Varianta noua</a>
                    <a href="/Profesor/listaVariante" class="btn glyphicon glyphicon-list btn-warning raised active">Lista variante complete</a>
                    <a href="/s1Cerinte/s1Index" class="btn glyphicon glyphicon-list btn-warning raised active">Cerintele SI</a>
                    <a href="/s1_a/Index" class="btn glyphicon glyphicon-list btn-warning raised active">Varianta blitz noua</a>
                    <a href="/Profesor/vizualizareRezultateBlitz" class="btn glyphicon glyphicon-list btn-warning raised active">Vizualizare rezultate variante blitz</a>
                    <a href="/Profesor/vizualizareRezultateElevi" class="btn glyphicon glyphicon-list btn-warning raised active">Vizualizare rezultate variante complete</a>
                    <a href="/Profesor/varianteBlitzDisponibile" class="btn glyphicon glyphicon-list btn-warning raised active">Lista variante blitz</a>

                </div>*@
                    
                    <ul style="list-style-type: none;display:inline-block">
                        <li class="dropdown">
                            <a class="btn btn-lg btn-warning glyphicon glyphicon-book" data-toggle="dropdown">Profesor</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/Profesor/listaVariante" class="btn glyphicon glyphicon-list btn-warning raised active">Lista variante complete</a>
                                    <a href="/evaluare/variantaNoua" class="btn glyphicon glyphicon-list btn-warning raised active">Varianta completa noua</a>
                                    <a href="/Profesor/vizualizareRezultateElevi" class="btn glyphicon glyphicon-list btn-warning raised active">Vizualizare rezultate variante complete</a>
                                </li>
                                <li>
                                    <a href="/Profesor/varianteBlitzDisponibile" class="btn glyphicon glyphicon-flash btn-warning raised active">Lista variante blitz</a>
                                    <a href="/s1_a/Index" class="btn glyphicon glyphicon-flash btn-warning raised active">Varianta blitz noua</a>
                                    <a href="/Profesor/vizualizareRezultateBlitz" class="btn glyphicon glyphicon-list btn-warning raised active">Vizualizare rezultate variante blitz</a>

                                </li>
                                <li>
                                    <a href="/s1Cerinte/s1Index" class="btn glyphicon glyphicon-list btn-warning raised active">Gestiune cerinte SI</a>
                                </li>
                                <li>
                                    <a href="/Account/Index" class="btn btn-info glyphicon glyphicon-lock">Administrare utilizatori</a>
                                </li>

                            </ul>
                        </li>
                    </ul>


                    <a href="/s1_a/varianteBlitzDisponibile" class="btn glyphicon glyphicon-list btn-success btn-lg raised active">Variante blitz Subiectul I</a>
                    <a href="/evaluare/listaVarianteFinale" class="btn glyphicon glyphicon-list btn-success btn-lg raised active">Variante complete</a>
                    <a href="/evaluare/lista_rezultateTestari" class="btn glyphicon glyphicon-list btn-info btn-lg raised active">Rezultate variante</a>



                }
            </div>  
        </div>


        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Platforma de logica</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>

    <script src="~/Scripts/DataTables/buttons.colVis.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('table').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Romanian.json'
                },
                responsive:true
            });
        });
    </script>
</body>
</html>
