﻿@model logica.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Creaza un cont nou.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Nume</label>
        <div class="col-md-10">
            <input class="form-control" name="userInfo.nume" placeholder="Nume" required/>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Prenume</label>
        <div class="col-md-10">
            <input class="form-control" name="userInfo.prenume" placeholder="Prenume" required />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Scoala de provenienta</label>
        <div class="col-md-10">
            <input class="form-control" name="userInfo.scoala" placeholder="Scoala de provenienta" required />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Telefon</label>
        <div class="col-md-10">
            <input class="form-control" name="userInfo.telefon" required />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
