﻿@model List<logica.Models.s1Cerinta>
@{
    ViewBag.Title = "rezolvaSesiuneBlitz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>rezolvaSesiuneBlitz</h2>
<form action="javascript:solve(@ViewBag.sesID);">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="col-md-12 answers">
            <div class="row">
                @(i + 1). @Model[i].cerinta
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model[i].answer" order="1" required>     a) @Model[i].r1
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model.[i].answer" order="2" required>      b) @Model[i].r2
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model[i].answer" order="3" required>       c) @Model[i].r3
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model[i].answer" order="4" required>      d) @Model[i].r4
            </div>
        </div> <br />

    }
    <p id="punctaj"></p>
    <input type="hidden" value="@ViewBag.sesID" id="sesid" />
    <button class="btn btn-success glyphicon glyphicon-ok-sign" type="submit" onclick="" id="okBtn">Vezi rezultatul!</button>
</form>
@using (Html.BeginForm("varianteBlitzDisponibile", "s1_a", FormMethod.Get))
{


<button class="btn glyphicon glyphicon-ok-sign" type="submit" id="returnBtn" style="display:none">Intoarce-te la pagina cu variante</button>
}
<script type="text/javascript">
    function solve(sesId) {
   var list = document.getElementsByClassName('answers');
        var punctajFinal = 0;
        for (var i = 0; i < list.length; i++) {

            var el = document.getElementsByName('optradio_' + i);
          
            if (el[el[0].value - 1].checked == true) {
                //  console.log(el[el[0].value-1]);
                el[el[0].value - 1].parentNode.style.backgroundColor = 'yellowgreen';
                punctajFinal += 1;
            }
            else {

                el[el[0].value - 1].parentNode.style.backgroundColor = 'green';
                if (el[0].checked == true) {
                    el[0].parentNode.style.backgroundColor = "red";
                }
                if (el[1].checked == true) {
                    el[1].parentNode.style.backgroundColor = "red";
                }
                if (el[2].checked == true) {
                    el[2].parentNode.style.backgroundColor = "red";
                }
                if (el[3].checked == true) {
                    el[3].parentNode.style.backgroundColor = "red";
                }
            }
        }
        document.getElementById('punctaj').innerText = "Ati obtinut un punctaj final de " + punctajFinal + "puncte din " + list.length+" puncte posibile.";
        document.getElementById('okBtn').style.display = 'none';
        document.getElementById('returnBtn').style.display = 'initial';
       
        var listaRaspunsuri=[];
        for (var i = 0; i < list.length; i++) {
            var el = document.getElementsByName('optradio_' + i);
            if(el[0].checked==true){
                listaRaspunsuri.push(el[0].getAttribute('order'));
            }
            if(el[1].checked==true){
                listaRaspunsuri.push(el[1].getAttribute('order'));
            }
            if(el[2].checked==true){
                listaRaspunsuri.push(el[2].getAttribute('order'));
            }
            if(el[3].checked==true){
                listaRaspunsuri.push(el[3].getAttribute('order'));
            }
            

        }
      //  console.log(listaRaspunsuri);
        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/s1_a/rezolvaSesiuneBlitz",
            data: {
                'varId': sesId,
                'punctaj':punctajFinal,
                'listaRaspunsuri':listaRaspunsuri
            },
        }).done(function (data) {
            if (data.ok == true) {
            
            }
            else {
                    alert("Eroare la salvare!")
                }
            });
    }
</script>