﻿@model List<logica.Models.s1_a_deschise>
@{
    ViewBag.Title = "varianteBlitzDisponibile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Variantele disponibile SI</h2>
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>
                        Nume varianta
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
            {
                    <tr>
                        <td>@Model[i].nume</td>


                        <td><a class="btn btn-success glyphicon glyphicon-globe" href="/s1_a/rezolvaSesiuneBlitz?sesId=@Model[i].ID">Incepe</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-12">
        <h3>Istoricul variantelor rezolvate</h3>
    </div>
    <div class="col-md-12">
        <table>
            <thead>
                <tr>
                    <th>Numele variantei</th>
                    <th>
                        Punctaj
                    </th>
                    <th>
                        Data/ora rezolvare
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.Action("varianteBlitzRezolvate")
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function changeStatus(id,el)
    {
        $.ajax({
            async: false,
            cache: false,
            type: "GET",
            url: "/s1_a/seteazaStareVarianta",
            data: {'id':id
            },
        }).done(function (data) {
            if (data.ok == true) {
                if(data.status==true){
                    el.parentNode.style.backgroundColor='red';
                }
                else{
                    el.parentNode.style.backgroundColor='yellowgreen';
                }
                alert("Schimbarea s-a efectuat cu succes!"+data.status)
            } else {
                alert("Eroare la salvare!")
            }
        });
        
    }
    
</script>