﻿@model List<logica.Models.s1_a_rezultateElev>



@foreach (var item in Model)
{
    <tr>
        <td>@Html.Action("denumireVarianta_partial","s1_a", new { id=item.idVarianta})</td>
        <td>
            @item.ultimulPunctaj
        </td>
        <td>
            @item.dataOra
        </td>
        <td><a class="btn btn-success glyphicon glyphicon-search" href="/s1_a/vizualizareSesiuneBlitz?sesId=@item.idVarianta&id=@item.ID">Vizualizare raspunsuri</a></td>
        <td>
            <button type="button" class="btn btn-danger glyphicon glyphicon-remove" onclick="removeRezultatVarianta('@item.ID',this)">Sterge</button>
        </td>
    </tr>

}
<script type="text/javascript">
    function removeRezultatVarianta(id,el) {
        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/s1_a/seteazaStareRezultat",
            data: {
                'id': id
            },
        }).done(function (data) {
            if (data == true) {
                    el.parentNode.parentNode.remove();
            } else {
            }
        });
    }
</script>
