﻿<h2>createS2</h2>
<div class="col-md-12">
    <h4>
        Se dau urmatoarele propozitii:
    </h4>
    <div id="A">

    </div>
   
    <button type="button"class="btn glyphicon glyphicon-list-alt" onclick="$('#propModal').modal('show');"></button>
</div>
<div class="col-md-12">
    <h5>A:</h5>
    Precizati formulele logice corespunzatoare propozitiilor <select id="a_1" class="form-control-static">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
</select> si
    <select id="a_2" class="form-control-static">
      
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="1">1</option>
    </select>
</div>
<div class="col-md-12">
    <h5>B:</h5>
    Construiti atat in limbaj formal cat si in limbaj natural,
   
    <select id="b_type1" class="form-control-static">
        <option value="subalterna">Subalterna</option>
        <option value="supraalterna">supraalterna</option>
        <option value="contrara">contrara</option>
        <option value="subcontrara">subcontrara</option>
        <option value="contradictoria">contradictoria</option>
    </select> 
    propozitiei
    <select id="b_prop1" class="form-control-static" >
            <option value="1">1</option>
                   <option value="2">2</option>
                   <option value="3">3</option>
                   <option value="4">4</option>
    </select> ,
    <select id="b_type2" class="form-control-static">
        <option value="subalterna">Subalterna</option>
        <option value="supraalterna">supraalterna</option>
        <option value="contrara">contrara</option>
        <option value="subcontrara">subcontrara</option>
        <option value="contradictoria">contradictoria</option>
    </select>
    propozitiei
    <select id="b_prop2" class="form-control-static">
  
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="1">1</option>
    </select> ,
    <select id="b_type3" class="form-control-static">
        <option value="subalterna">Subalterna</option>
        <option value="supraalterna">supraalterna</option>
        <option value="contrara">contrara</option>
        <option value="subcontrara">subcontrara</option>
        <option value="contradictoria">contradictoria</option>
    </select>
    propozitiei
    <select id="b_prop3" class="form-control-static">

    
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select> ,
    <select id="b_type4" class="form-control-static">
        <option value="subalterna">Subalterna</option>
        <option value="supraalterna">supraalterna</option>
        <option value="contrara">contrara</option>
        <option value="subcontrara">subcontrara</option>
        <option value="contradictoria">contradictoria</option>
    </select>
    propozitiei
    <select id="b_prop4" class="form-control-static">

        <option value="4">4</option>    
  
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select> ,
</div>
<div class="col-md-12">
    <h5>C:</h5>
    Aplicati explicit operatiile de conversiune si obversiune, pentru a deriva conversa si obversa corecte ale fiecareia dintre propozitiile
   
    <select id="c_p1" class="form-control-static">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
     si
    <select id="c_p2" class="form-control-static">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>,atat in limbaj formal,cat si in limbaj natural. 
</div>
<div class="col-md-12">
    <h5>D:</h5>
Construiti, atat in limbaj formal cat si in limbaj natural 
    <select id="d_tip1" class="form-control-static">
        <option>obversa</option>
        <option >conversa</option>
    
    </select>
    <select id="d_tip2" class="form-control-static">
        <option >conversei</option>
        <option >obversei</option>
   
    </select> propozitiei
       <select id="d_prop" class="form-control-static">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>.

</div>
<div class="col-md-12">
    <h5>E:Doi elev, X si Y, opiniaza astfel:</h5>
    <button type="button" class="btn glyphicon glyphicon-list-alt" onclick="$('#EModal').modal('show')"></button>
  <div id="E"></div>
</div>


<div class="modal fade bs-example-modal-sm" id="propModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content container" id="modal-content">
            <div id="continut" class="form-horizontal">
                @Html.Action("listaPropModal")
            </div>


        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="EModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content container" id="modal-content">
            <div id="continut" class="form-horizontal">
                @Html.Action("listaS2EModal")
            </div>


        </div>
    </div>
</div>
