﻿@model List<logica.Models.s2_prop>
<h2>Lista propozitiilor categorice</h2>
<table id="tableProp" style="min-width:100%">
    <thead>
        <tr>
            <th>
                <button type="button" onclick="addNewProp()" class="btn glyphicon glyphicon-plus"></button>
            </th>
            <th>
            <select class="form-control" id="type">
                <option>
                    SaP
                </option>
                <option>
                    SeP
                </option>
                <option>
                    SiP
                </option>
                <option>
                    SoP
                </option>
            </select>
            </th>
            <th><textarea class="text-primary form-control" placeholder="Propozitia" id="prop"></textarea></th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Tipul</th>
            <th>Propozitia</th>
        </tr>
    </thead>
    <tbody id="tablePropBody">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr onclick="addPropIntoSub(this)">
                <td>@Model[i].ID</td>
                <td>@Model[i].type</td>
                <td>@Model[i].prop</td>
            </tr>

        }
    </tbody>
</table>
<div class="btn-group-lg">
    <button type="button"onclick="$('#propModal').modal('toggle');" class="lab btn btn-success btn-lg glyphicon glyphicon-save" >Salveaza</button>
    <button type="button" onclick="$('#propModal').modal('toggle'); document.getElementById('A').innerHTML = '';clearTableOfSelected()" class="btn btn-danger glyphicon glyphicon-minus-sign">Anuleaza</button>
</div>
<script type="text/javascript">
    function addNewProp() {

        if (document.getElementById('prop').value != "") {
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "/s2/addNewProp",
                data: {
                    "model.prop": document.getElementById('prop').value,
                    "model.type": $("#type option:selected").text(),

                },
            }).done(function (data) {
                if (data.ok == true) {
                    $('#tablePropBody').prepend('<tr onclick="addPropIntoSub(this)">' +
                        '<td>' + data.model.ID + '</td>' +
                        '<td>' + data.model.type + '</td>' +
                        '<td>' + data.model.prop + '</td>'
                        + '</tr>')
                } else {
                    alert("Eroare la stergere!")
                }
            });
        } else {
            alert("Completati propozitia corespunzatoare!");
        }
    }

    //this function is not properly working
    function clearTableOfSelected() {

        var list = document.getElementById('tablePropBody').getElementsByClassName('selected');
        for (var i = 0; i <list.length; i++) {
            list[i].classList.remove('selected');
        }

        
    }
    function addPropIntoSub(el)
    {
        var trSelList = document.getElementById('tableProp').getElementsByClassName('selected');

        if (!el.classList.contains('selected') && trSelList.length < 4)
        {
                el.classList.add('selected');
            } else {
                el.classList.remove('selected');
            }
          
            if (trSelList.length <=4) {
                var mainDiv = document.getElementById('A');
                mainDiv.innerHTML = "";
                var string = '';
                for (var i = 0; i < trSelList.length; i++) {
                    var list = trSelList[i].getElementsByTagName('td');

                    string += i + 1 +
                   ":<label class='label label-success'>" + list[1].innerHTML + "</label><br/>" +
                   "<p class=''>" + list[2].innerHTML + '</p>' +
                    '<input type="hidden" value="' + list[0].innerHTML + '" class="aProp" /><br/>';
                  }
                mainDiv.innerHTML += string;
            }
      

    }
</script>
