﻿@model List<logica.Models.s2_prop>
@{
    ViewBag.Title = "listaPropozitiiCategorice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista propozitiilor categorice</h2>
<table>
    <thead>
        <tr>
        <th>
            <button type="button"onclick="$('#m1').modal('show');"class="btn glyphicon glyphicon-plus"></button>
        </th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Tipul</th>
            <th>Propozitia</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
        <tr>
        <td>@Model[i].ID</td>
        <td>@Model[i].type</td>
        <td>@Model[i].prop</td>
        </tr>

        }
    </tbody>
</table>
<div id="m1" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adauga propozitie categorica</h4>
            </div>
            <div class="modal-body col-md-12" style="height:200px">
                <label class="label-info col-md-6">Propozitia:</label>
               <textarea type="text" class="form-control col-md-6"id="prop" ></textarea>
                <label class="label-success col-md-6">Tipul:</label>
                <input type="text" class="form-control col-md-6" id="type" />
            </div>
            <div class="modal-footer">
                <button type="button" onclick="addNewProp()" class="btn btn-default glyphicon glyphicon-plus" data-dismiss="modal">Adauga</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    function addNewProp() {


        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/s2/addNewProp",
            data: {
                "model.prop": document.getElementById('prop').value,
                "model.type": document.getElementById('type').value,

            },
        }).done(function (data) {
            if (data.ok == true) {
                location.reload(true);

            } else {
                alert("Eroare la stergere!")
            }
        });
    }
</script>