﻿@model List<logica.Models.variantaRezolvata>
@{
    ViewBag.Title = "corectareSesiune";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>corectareSesiune</h2>
<h1>S1 A </h1>
<form action="javascript:saveFinalResults()">
    <table class="table-bordered">
        <thead>
            @Html.Action("expectRes_s1A", "evaluare", new { variantaID = ViewBag.varID })
            <tr>
                <th>
                    Nume elev
                </th>
                <th>
                    r1
                </th>

                <th>
                    r2
                </th>

                <th>
                    r3
                </th>

                <th>
                    r4
                </th>

                <th>
                    r5
                </th>

                <th>
                    r6
                </th>

                <th>
                    r7
                </th>

                <th>
                    r8
                </th>
                <th>
                    r9
                </th>
                <th>
                    r10
                </th>
                <th>Punctaj final</th>

            </tr>
        </thead>
        <tbody id="tbody_s1A">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td>
                        @Model[i].s1_1
                    </td>

                    <td>
                        @Model[i].s1_2
                    </td>

                    <td>
                        @Model[i].s1_3
                    </td>

                    <td>
                        @Model[i].s1_4
                    </td>

                    <td>
                        @Model[i].s1_5
                    </td>

                    <td>
                        @Model[i].s1_6
                    </td>

                    <td>
                        @Model[i].s1_7
                    </td>

                    <td>
                        @Model[i].s1_8
                    </td>

                    <td>
                        @Model[i].s1_9
                    </td>

                    <td>
                        @Model[i].s1_10
                    </td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>

    <h2>S1 B</h2>
    <table class="table-bordered">
        <thead>
            @Html.Action("expectRes_s1B", "evaluare", new { variantaID = ViewBag.varID })
            <tr>
                <th>
                    Nume elev
                </th>
                <th>
                    1)
                </th>

                <th>
                    2.a
                </th>

                <th>
                    2.b
                </th>

                <th>
                    2.c
                </th>

                <th>
                    2.d
                </th>

                <th>
                    2.e
                </th>

                <th>
                    2.f
                </th>
                <th>Rezultat final</th>

            </tr>
        </thead>
        <tbody id="tbody_s1B">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td>
                        @Model[i].s1_bA
                    </td>

                    <td>
                        @Model[i].s1_b1
                    </td>

                    <td>
                        @Model[i].s1_b2
                    </td>

                    <td>
                        @Model[i].s1_b2
                    </td>

                    <td>
                        @Model[i].s1_b4
                    </td>

                    <td>
                        @Model[i].s1_b5
                    </td>

                    <td>
                        @Model[i].s1_b6
                    </td>
                    <td></td>

                </tr>
            }

        </tbody>
    </table>

    <h2>S2 A</h2>
    <table class="table-bordered">
        <thead>
            <tr>
                @Html.Action("expectRes_s2A", "evaluare")
                <th>
                    Nume elev
                </th>
                <th>
                    Propozitia 1
                </th>

                <th>
                    Propozitia 2
                </th>
                <th>Punctaj final</th>



            </tr>
        </thead>
        <tbody id="tbody_s2A">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td>
                        @Model[i].s2_a1
                    </td>

                    <td>
                        @Model[i].s2_a2
                    </td>
                    <td></td>



                </tr>
            }

        </tbody>
    </table>

    <h2>S2 B</h2>
    <table class="table-bordered">
        <thead>
            @Html.Action("expectRes_s2B", "evaluare")
            <tr>
                <th>
                    Nume elev
                </th>
                <th>Rezultat final</th>

                <th>
                    Propozitia 1 formal
                </th>
                <th>
                    Propozitia 2 formal
                </th>
                <th>
                    Propozitia 3 formal
                </th>
                <th>
                    Propozitia 4 formal
                </th>
                <th>
                    Propozitia 1 natural
                </th>

                <th>
                    Propozitia 2 natural
                </th>

                <th>
                    Propozitia 3 natural
                </th>

                <th>
                    Propozitia 4 natural
                </th>



            </tr>
        </thead>
        <tbody id="tbody_s2B">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td>8</td>
                    <td>
                        @Model[i].s2_b1F
                    </td>
                    <td>
                        @Model[i].s2_b2F
                    </td>
                    <td>
                        @Model[i].s2_b3F
                    </td>
                    <td>
                        @Model[i].s2_b4F
                    </td>
                    <td class="s2B">
                        @Model[i].s2_b1N
                    </td>


                    <td class="s2B">
                        @Model[i].s2_b2N
                    </td>


                    <td class="s2B">
                        @Model[i].s2_b3N
                    </td>


                    <td class="s2B">
                        @Model[i].s2_b4N
                    </td>

                </tr>
            }

        </tbody>
    </table>

    <h2>S2 C</h2>
    <table class="table-bordered">
        <thead>
            @Html.Action("expectRes_s2C", "evaluare")
            <tr>
                <th>
                    Nume elev
                </th>
                <th>Punctaj final</th>

                <th>
                    Tip prop 1
                </th>
                <th>
                    Tip prop 2
                </th>
                <th>
                    Tip prop 1
                </th>
                <th>
                    Tip prop 2
                </th>
                <th>
                    Conversiune formal 1
                </th>
                <th>
                    Conversiune formal 2
                </th>
                <th>
                    Obversiune formal 1
                </th>

                <th>
                    Obversiune formal 2
                </th>
                <th>
                    Conversiune natural 1
                </th>
                <th>
                    Obversiune natural 1
                </th>

                <th>
                    Conversiune natural 2
                </th>
                <th>
                    Obversiune natural 2
                </th>



            </tr>
        </thead>
        <tbody id="tbody_s2C">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td>8</td>
                    <td>
                        @Model[i].s2_c_pr1F
                    </td>

                    <td>
                        @Model[i].s2_c_pr2F
                    </td>
                    <td>
                        @Model[i].s2_c_pr3F
                    </td>
                    <td>
                        @Model[i].s2_c_pr4F
                    </td>
                    <td>
                        @Model[i].s2_c_pr1F_con
                    </td>
                    <td>
                        @Model[i].s2_c_pr3F_con
                    </td>
                    <td>
                        @Model[i].s2_c_pr2F_obv
                    </td>

                    <td>
                        @Model[i].s2_c_pr4F_obv
                    </td>

                    <td class="s2C">@Model[i].s2_c_pr1N_conv</td>
                    <td class="s2C">@Model[i].s2_c_pr2N_obv</td>

                    <td class="s2C">@Model[i].s2_c_pr3N_conv</td>
                    <td class="s2C">@Model[i].s2_c_pr4N_obv</td>

                </tr>
            }

        </tbody>
    </table>

    <h2>S2 D</h2>
    <table class="table-bordered">
        <thead>
            @Html.Action("expectRes_s2D", "evaluare")
            <tr>
                <th>
                    Nume elev
                </th>
                <th>
                    Tipul propozitiei
                </th>
                <th>
                    Conversiunea formal
                </th>
                <th>
                    Obversiunea conversiunii formal
                </th>
                <th>
                    Conversiunea natural
                </th>
                <th>
                    Obversiunea conversiunii natural
                </th>



                <th>Punctaj final</th>

            </tr>
        </thead>
        <tbody id="tbody_s2D">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td>
                        @Model[i].s2_d_prop
                    </td>

                    <td>
                        @Model[i].s2_d_conv
                    </td>
                    <td>
                        @Model[i].s2_d_obvConv
                    </td>

                    <td class="s2D">
                        @Model[i].s2_d_convNat
                    </td>

                    <td class="s2D">@Model[i].s2_d_obvConvNat</td>
                    <td></td>
                </tr>
            }

        </tbody>
    </table>

    <h2>S2 E</h2>
    <table class="table-bordered">
        <thead>
            <tr>
                @Html.Action("expectRes_s2E", "evaluare")
                <th>
                    Nume elev
                </th>
                <th>Punctaj final</th>
                 <th>
                  a)  Tipul lui X
                </th>
                <th>
                    Convertind/Obvertind x
                </th>
                <th>
                    Rezultat x
                </th>
                <th>
                    a)  Tipul lui Y
                </th>
                <th>
                    Convertind/Obvertind Y
                </th>
                <th>
                    Rezultat Y
                </th>
                <th>
                   b) Corect X
                </th>
                <th>
                     Corect Y
                </th>
                <th>
                  c)  X/Y rationeaza
                </th>
                <th>
                    Convertind/Obvertind 
                </th>
                <th>
                   un
                </th>
                <th>
                   in
                </th>
                <th>
                    Respectand/incalcand 
                </th>
                
                


            </tr>
        </thead>
        <tbody id="tbody_s2E">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td></td>
                    <td>
                        @Model[i].s2_e_a_x
                    </td>

                    <td>
                        @Model[i].s2_e_a_x_convobv
                    </td>
                    <td>
                        @Model[i].s2_e_a_x_rez
                    </td>
                    <td>
                        @Model[i].s2_e_a_y
                    </td>

                    <td>
                        @Model[i].s2_e_a_y_convobv
                    </td>
                    <td>
                        @Model[i].s2_e_a_y_rez
                    </td>

                    <td>
                        @Model[i].s2_e_b_x
                    </td>
                    <td>
                        @Model[i].s2_e_b_y
                    </td>

                    <td>@Model[i].s2_e_b_y_corect
                    </td>
                    <td>@Model[i].s2_e_b_y_convobv</td>
                    <td>@Model[i].s2_e_b_y_form1</td>
                    <td>@Model[i].s2_e_b_y_form2</td>
                    <td>@Model[i].s2_e_b_y_respectand</td>
                    
                  
                </tr>
            }

        </tbody>
    </table>
    <h2>S3 A</h2>
    <table class="table-bordered">
        <thead>
            @Html.Action("expectRes_s3A", "evaluare")
            <tr>
                <th>
                    Nume elev
                </th>
                <th>Punctaj final</th>
                <th>
                    Silogismul 1 formal
                </th>
                <th>
                    Silogismul 2 formal
                </th>

                <th>Demonstrare Venn sil. 1</th>
                <th>Demonstrare Venn sil. 2</th>
                <th>
                    Silogismul 1 natural
                </th>
                <th>Silogismul 2 natural</th>

            </tr>
        </thead>
        <tbody id="tbody_s3A">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td>16</td>
                    <td>
                        <section>
                            @Model[i].s3_a_1_sil1F_maj
                        </section>
                        <br /><section>
                            @Model[i].s3_a_1_sil1F_min
                        </section>
                        <br /><section>
                            @Model[i].s3_a_1_sil1F_con
                        </section>


                    <td>
                        <section>
                            @Model[i].s3_a_1_sil2F_maj
                        </section>
                        <br />
                        <section> @Model[i].s3_a_1_sil2F_min</section>
                        <br />
                        <section> @Model[i].s3_a_1_sil2F_con</section>

                    </td>
                    <td>
                        <section>@Html.Raw(Model[i].s3_a_2_venn_sil1)</section>
                        <br />
                        <section>@Model[i].s3_a_2_venn_sil1_valid</section>

                    </td>
                    <td>
                        <section>@Html.Raw(Model[i].s3_a_2_venn_sil2)</section>
                        <br />
                        <section>@Model[i].s3_a_2_venn_sil2_valid</section>
                    </td>
                    <td class="s3A">
                        @Model[i].s3_a_1_sil1N_maj
                        <br />
                        @Model[i].s3_a_1_sil1N_min
                        <br />
                        @Model[i].s3_a_1_sil1N_con
                    </td>
                    <td class="s3A">
                        @Model[i].s3_a_1_sil2N_maj
                        <br />
                        @Model[i].s3_a_1_sil2N_min
                        <br />
                        @Model[i].s3_a_1_sil2N_con
                    </td>


                </tr>
            }

        </tbody>
    </table>
    <h2>S3 B</h2>
    <table class="table-bordered">
        <thead>

            <tr>
                <th>
                    Nume elev
                </th>
                <th>Punctaj final</th>
                <th>
                    Silogismul formal
                </th>
                <th>
                    Silogismul natural
                </th>



            </tr>
        </thead>
        <tbody id="tbody_s3B">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td>6</td>
                    <td class="s3B">
                        <section>   @Model[i].s3_b_maj_F</section>
                        <br />
                        <section>     @Model[i].s3_b_min_F</section>
                        <br />
                        <section> @Model[i].s3_b_con_F</section>


                    <td class="s3B">
                        @Model[i].s3_b_maj_N
                        <br />
                        @Model[i].s3_b_min_N

                    </td>


                </tr>
            }

        </tbody>
    </table>

    <h2>S3 C</h2>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>
                    Nume elev
                </th>
                <th>Punctaj final</th>
                <th>
                    Termenul mediu al silogismului
                </th>
                <th>
                    Premisa minora a silogismului
                </th>


            </tr>
        </thead>
        <tbody id="tbody_s3C">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td>4</td>
                    <td class="s3C">
                        @Model[i].s3_c_term



                    <td class="s3C">
                        @Model[i].s3_c_premisa

                    </td>


                </tr>
            }

        </tbody>
    </table>
    <h2>S3 D</h2>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>
                    Nume elev
                </th>
                <th>Punctaj final</th>
                <th>
                    Regula de la punctul a
                </th>
                <th>
                    Definitia gresita de la b
                </th>
                <th>
                    Regula incalcata de definitia de la b
                </th>


            </tr>
        </thead>
        <tbody id="tbody_s3D">
            @for (int i = 0; i < Model.Count(); i++)
            {

                <tr>
                    <td>
                        @Model[i].userId
                    </td>
                    <td>
                        6
                    </td>
                    <td class="s3D">
                        @Model[i].s3_d_reg


                    <td class="s3D">
                        @Model[i].s3_d_defGresita

                    </td>
                    <td class="s3D">
                        @Model[i].s3_d_reg2
                    </td>

                </tr>
            }

        </tbody>
    </table>
    <button type="submit" onclick="" class="btn btn-success btn-lg glyphicon glyphicon-send">Salveaza sesiunea de corectare</button>
</form>
<script src="~/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript">

    var tbodyS3D = document.getElementById('tbody_s3D');
    var tbodyS3C = document.getElementById('tbody_s3C');
    var tbodyS3B = document.getElementById('tbody_s3B');

    $(document).ready(function () {
        $("input").prop('required',true);
        $("select").prop('required',true);
        $("textarea").prop('required',true);
        var notReq=document.getElementById('continut').getElementsByTagName('input');
        for (var i = 0; i < notReq.length; i++) {
    
            notReq[i].removeAttribute('required');
        }
     

        for (var i = 0; i < document.getElementsByClassName('s3D').length; i++) {
            document.getElementsByClassName('s3D')[i].style.backgroundColor = "greenyellow";
        }
        for (var i = 0; i < document.getElementsByClassName('s3C').length; i++) {
            document.getElementsByClassName('s3C')[i].style.backgroundColor = "greenyellow";
        }
        for (var i = 0; i < document.getElementsByClassName('s3B').length; i++) {
            document.getElementsByClassName('s3B')[i].style.backgroundColor = "greenyellow";
        }
        for (var i = 0; i < document.getElementsByClassName('s3A').length; i++) {
            document.getElementsByClassName('s3A')[i].style.backgroundColor = "greenyellow";
        }
        for (var i = 0; i < document.getElementsByClassName('s2B').length; i++) {
            document.getElementsByClassName('s2B')[i].style.backgroundColor = "greenyellow";
        }
        for (var i = 0; i < document.getElementsByClassName('s2C').length; i++) {
            document.getElementsByClassName('s2C')[i].style.backgroundColor ="greenyellow";
        }
        for (var i = 0; i < document.getElementsByClassName('s2D').length; i++) {
            document.getElementsByClassName('s2D')[i].style.backgroundColor ="greenyellow";
        }

    });
    validateS1A();
    function validateS1A() {
        var tbody = document.getElementById('tbody_s1A');
        var trList = tbody.getElementsByTagName('tr');
        var trExpect = document.getElementById('expect_s1A');
        var exp1 = trExpect.getElementsByTagName('th')[1].innerText;
        var exp2 = trExpect.getElementsByTagName('th')[2].innerText;
        var exp3 = trExpect.getElementsByTagName('th')[3].innerText;
        var exp4 = trExpect.getElementsByTagName('th')[4].innerText;
        var exp5 = trExpect.getElementsByTagName('th')[5].innerText;
        var exp6 = trExpect.getElementsByTagName('th')[6].innerText;
        var exp7 = trExpect.getElementsByTagName('th')[7].innerText;
        var exp8 = trExpect.getElementsByTagName('th')[8].innerText;
        var exp9 = trExpect.getElementsByTagName('th')[9].innerText;
        var exp10 = trExpect.getElementsByTagName('th')[10].innerText;

        for (var i = 0; i < trList.length; i++)
        {
            var punctajFinal = 0;
            var list = trList[i].getElementsByTagName('td');
            var r1 = list[1].innerText;
            var r2 = list[2].innerText;
            var r3 = list[3].innerText;
            var r4 = list[4].innerText;
            var r5 = list[5].innerText;
            var r6 = list[6].innerText;
            var r7 = list[7].innerText;
            var r8 = list[8].innerText;
            var r9 = list[9].innerText;
            var r10 = list[10].innerText;
            if (r1 == exp1) {
                list[1].style.backgroundColor = "green";
                punctajFinal += 1;
            }
            else {

                list[1].style.backgroundColor = "red";
            }
            if (r2 == exp2) {
                list[2].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[2].style.backgroundColor = "red";
            }
            if (r3 == exp3) {
                list[3].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[3].style.backgroundColor = "red";
            }
            if (r4 == exp4) {
                list[4].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[4].style.backgroundColor = "red";
            }
            if (r5 == exp5) {
                list[5].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[5].style.backgroundColor = "red";
            }
            if (r6 == exp6) {
                list[6].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[6].style.backgroundColor = "red";
            }
            if (r7 == exp7) {
                list[7].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[7].style.backgroundColor = "red";
            }
            if (r8 == exp8) {
                list[8].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[8].style.backgroundColor = "red";
            }
            if (r9 == exp9) {
                list[9].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[9].style.backgroundColor = "red";
            }
            if (r10 == exp10) {
                list[10].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[10].style.backgroundColor = "red";
            }

            list[11].innerText = punctajFinal;
        }
    }
    validateS1B();
    function validateS1B() {
        var tbody = document.getElementById('tbody_s1B');
        var trList = tbody.getElementsByTagName('tr');
        var trExpect = document.getElementById('expect_s1B');
        var exp1 = trExpect.getElementsByTagName('th')[1].innerText;
        var exp2 = trExpect.getElementsByTagName('th')[2].innerText;
        var exp3 = trExpect.getElementsByTagName('th')[3].innerText;
        var exp4 = trExpect.getElementsByTagName('th')[4].innerText;
        var exp5 = trExpect.getElementsByTagName('th')[5].innerText;
        var exp6 = trExpect.getElementsByTagName('th')[6].innerText;
        var exp7 = trExpect.getElementsByTagName('th')[7].innerText;


        for (var i = 0; i < trList.length; i++) {
            var punctajFinal = 0;
            var list = trList[i].getElementsByTagName('td');
            var r1 = list[1].innerText;
            var r2 = list[2].innerText;
            var r3 = list[3].innerText;
            var r4 = list[4].innerText;
            var r5 = list[5].innerText;
            var r6 = list[6].innerText;
            var r7 = list[7].innerText;

            if (r1 == exp1) {
                list[1].style.backgroundColor = "green";
                punctajFinal += 1;
            }
            else {

                list[1].style.backgroundColor = "red";
            }
            if (r2 == exp2) {
                list[2].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[2].style.backgroundColor = "red";
            }
            if (r3 == exp3) {
                list[3].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[3].style.backgroundColor = "red";
            }
            if (r4 == exp4) {
                list[4].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[4].style.backgroundColor = "red";
            }
            if (r5 == exp5) {
                list[5].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[5].style.backgroundColor = "red";
            }
            if (r6 == exp6) {
                list[6].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[6].style.backgroundColor = "red";
            }
            if (r7 == exp7) {
                list[7].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[7].style.backgroundColor = "red";
            }

            list[8].innerText = punctajFinal;
        }
    }

    function validateS2A() {
        var tbody = document.getElementById('tbody_s2A');
        var trList = tbody.getElementsByTagName('tr');
        var exp1 = document.getElementById('sel_s2A_1').value;
        var exp2 = document.getElementById('sel_s2A_2').value;
        for (var i = 0; i < trList.length; i++) {
            var punctajFinal = 0;
            var list = trList[i].getElementsByTagName('td');
            var r1 = list[1].innerText;
            var r2 = list[2].innerText;
            if (r1 == exp1) {
                list[1].style.backgroundColor = "green";
                punctajFinal += 1;
            }
            else {

                list[1].style.backgroundColor = "red";
            }
            if (r2 == exp2) {
                list[2].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[2].style.backgroundColor = "red";
            }
            list[3].innerText = punctajFinal;
        }

    }
    function validateS2B()
    {
        var tbody = document.getElementById('tbody_s2B');
        var trList = tbody.getElementsByTagName('tr');
        var exp1 = document.getElementById('sel_s2B_1').value;
        var exp2 = document.getElementById('sel_s2B_2').value;
        var exp3 = document.getElementById('sel_s2B_3').value;
        var exp4 = document.getElementById('sel_s2B_4').value;
        for (var i = 0; i < trList.length; i++) {
            var punctajFinal = 0;
            var list = trList[i].getElementsByTagName('td');
            var r1 = list[2].innerText;
            var r2 = list[3].innerText;
            var r3 = list[4].innerText;
            var r4 = list[5].innerText;
            if (r1 == exp1) {
                list[2].style.backgroundColor = "greenyellow";
                punctajFinal += 1;
            }
            else {

                list[2].style.backgroundColor = "red";
            }
            if (r2 == exp2) {
                list[3].style.backgroundColor = "greenyellow"; punctajFinal += 1;
            }
            else {

                list[3].style.backgroundColor = "red";
            }
            if (r3 == exp3) {
                list[4].style.backgroundColor = "greenyellow"; punctajFinal += 1;
            }
            else {

                list[4].style.backgroundColor = "red";
            }
            if (r4 == exp4) {
                list[5].style.backgroundColor = "greenyellow"; punctajFinal += 1;
            }
            else {

                list[5].style.backgroundColor = "red";
            }
            if (list[6].style.backgroundColor == 'greenyellow') {
                punctajFinal += 1;
            }
            if (list[7].style.backgroundColor == 'greenyellow') {
                punctajFinal += 1;
            }
            if (list[8].style.backgroundColor == 'greenyellow') {
                punctajFinal += 1;
            }
            if (list[9].style.backgroundColor == 'greenyellow') {
                punctajFinal += 1;
            }

            list[1].innerText = punctajFinal;
            // alert(punctajFinal);
        }

    }
    function validateS2C() {
        var tbody = document.getElementById('tbody_s2C');
        var trList = tbody.getElementsByTagName('tr');
        var exp1 = document.getElementById('sel_s2C_1').value;
        var exp2 = document.getElementById('sel_s2C_2').value;
        var exp3 = document.getElementById('sel_s2C_3').value;
        var exp4 = document.getElementById('sel_s2C_4').value;
        var exp5 = document.getElementById('sel_s2C_5').value;
        var exp6 = document.getElementById('sel_s2C_7').value;
        var exp7 = document.getElementById('sel_s2C_6').value;
        var exp8 = document.getElementById('sel_s2C_8').value;
        for (var i = 0; i < trList.length; i++) {
            var punctajFinal = 0;
            var list = trList[i].getElementsByTagName('td');
            var r1 = list[2].innerText;
            var r2 = list[3].innerText;
            var r3 = list[4].innerText;
            var r4 = list[5].innerText;
            var r5 = list[6].innerText;
            var r6 = list[7].innerText;
            var r7 = list[8].innerText;
            var r8 = list[9].innerText;
            if (r1 == exp1) {
                list[2].style.backgroundColor = "green";
                //punctajFinal += 1;
            }
            else {

                list[2].style.backgroundColor = "red";
            }
            if (r2 == exp2) {
                list[3].style.backgroundColor = "green";// punctajFinal += 1;
            }
            else {

                list[3].style.backgroundColor = "red";
            }
            if (r3 == exp3) {
                list[4].style.backgroundColor = "green";// punctajFinal += 1;
            }
            else {

                list[4].style.backgroundColor = "red";
            }
            if (r4 == exp4) {
                list[5].style.backgroundColor = "green";// punctajFinal += 1;
            }
            else {

                list[5].style.backgroundColor = "red";
            }
            if (r5 == exp5) {
                list[6].style.backgroundColor = "green";// punctajFinal += 1;
            }
            else {

                list[6].style.backgroundColor = "red";
            }
            if (r6 == exp6) {
                list[7].style.backgroundColor = "green"; //punctajFinal += 1;
            }
            else {

                list[7].style.backgroundColor = "red";
            }
            if (r7 == exp7) {
                list[8].style.backgroundColor = "green"; //punctajFinal += 1;
            }
            else {

                list[8].style.backgroundColor = "red";
            }
            if (r8 == exp8) {
                list[9].style.backgroundColor = "green";// punctajFinal += 1;
            }
            else {

                list[9].style.backgroundColor = "red";
            }

            if (list[10].style.backgroundColor == "greenyellow") {
                punctajFinal += 1;
            }
            if (list[11].style.backgroundColor == "greenyellow") {
                punctajFinal += 1;
            }
            if (list[12].style.backgroundColor == "greenyellow") {
                punctajFinal += 1;
            }
            if (list[13].style.backgroundColor == "greenyellow") {
                punctajFinal += 1;
            }
            if (r1 == exp1 && r5 == exp5) {
                punctajFinal+=1
            }
            if (r2 == exp2 && r6 == exp6) {
                punctajFinal += 1
            }
            if (r3 == exp3 && r7 == exp7) {
                punctajFinal += 1
            }
            if (r4 == exp4 && r8 == exp8) {
                punctajFinal += 1
            }


            list[1].innerText = punctajFinal;
            // alert(punctajFinal);
        }

    }
    function validateS2D() {
        var tbody = document.getElementById('tbody_s2D');
        var trList = tbody.getElementsByTagName('tr');
        var exp1 = document.getElementById('sel_s2D_1').value;
        var exp2 = document.getElementById('sel_s2D_2').value;
        var exp3 = document.getElementById('sel_s2D_3').value;

        for (var i = 0; i < trList.length; i++) {
            var punctajFinal = 0;
            var list = trList[i].getElementsByTagName('td');
            var r1 = list[1].innerText;
            var r2 = list[2].innerText;
            var r3 = list[3].innerText;
            var r1valid=false;
            var r2valid=false;
            var r3valid=false;
            if (r1 == exp1) {
                list[1].style.backgroundColor = "green";
                // punctajFinal += 1;
                r1valid=true;
            }
            else {

                list[1].style.backgroundColor = "red";
                r1valid=false;
            }
            if (r2 == exp2) {
                list[2].style.backgroundColor = "green";// punctajFinal += 1;
                r2valid=true;

            }
            else {
                r2valid=false;
                list[2].style.backgroundColor = "red";
            }
            if (r3 == exp3) {
                r3valid=true;
                list[3].style.backgroundColor = "green"; //punctajFinal += 1;
            }
            else {
                r3valid=false;


                list[3].style.backgroundColor = "red";
            }

            if (list[4].style.backgroundColor == "greenyellow") {
                punctajFinal += 1;
            }
            if (list[5].style.backgroundColor == "greenyellow") {
                punctajFinal += 1;
            }

            if(r1valid==true && r2valid==true &&r3valid==true){
                punctajFinal+=2;
            }


            list[6].innerText = punctajFinal;
            // alert(punctajFinal);
        }

    }
    function validateS2E() {
        var tbody = document.getElementById('tbody_s2E');
        var trList = tbody.getElementsByTagName('tr');
        var exp1 = document.getElementById('sel_s2E_1').value;
        var exp2 = document.getElementById('sel_s2E_2').value;
        var exp3 = document.getElementById('sel_s2E_3').value;
        var exp4 = document.getElementById('sel_s2E_4').value;
        var exp5 = document.getElementById('sel_s2E_5').value;
        var exp6 = document.getElementById('sel_s2E_6').value;
        var exp7 = document.getElementById('sel_s2E_7').value;
        var exp8 = document.getElementById('sel_s2E_8').value;
        var exp9 = document.getElementById('sel_s2E_9').value;
        var exp10 = document.getElementById('sel_s2E_10').value;
        var exp11 = document.getElementById('sel_s2E_11').value;
        var exp12 = document.getElementById('sel_s2E_12').value;
        var exp13 = document.getElementById('sel_s2E_13').value;
        for (var i = 0; i < trList.length; i++) {
            var punctajFinal = 0;
            var list = trList[i].getElementsByTagName('td');
            var r1 = list[2].innerText;
            var r2 = list[3].innerText;
            var r3 = list[4].innerText;
            var r4 = list[5].innerText;
            var r5 = list[6].innerText;
            var r6 = list[7].innerText;
            var r7 = list[8].innerText;
            var r8 = list[9].innerText;
            var r9 = list[10].innerText;
            var r10 = list[11].innerText;
            var r11 = list[12].innerText;
            var r12 = list[13].innerText;
            var r13 = list[14].innerText;
            if (r1 == exp1) {
                list[2].style.backgroundColor = "green";
                punctajFinal += 1;
            }
            else {

                list[2].style.backgroundColor = "red";
            }
            if (r2 == exp2) {
                list[3].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[3].style.backgroundColor = "red";
            }
            if (r3 == exp3) {
                list[4].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[4].style.backgroundColor = "red";
            }
            if (r4 == exp4) {
                list[5].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[5].style.backgroundColor = "red";
            }
            if (r5 == exp5) {
                list[6].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[6].style.backgroundColor = "red";
            }
            if (r6 == exp6) {
                list[7].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[7].style.backgroundColor = "red";
            }
            if (r7 == exp7) {
                list[8].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[8].style.backgroundColor = "red";
            }
            if (r8 == exp8) {
                list[9].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[9].style.backgroundColor = "red";
            }
            if (r9 == exp9) {
                list[10].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[10].style.backgroundColor = "red";
            }
            if (r10 == exp10) {
                list[11].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[11].style.backgroundColor = "red";
            }

            if (r11 == exp11) {
                list[12].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[12].style.backgroundColor = "red";
            } if (r12 == exp12) {
                list[13].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[13].style.backgroundColor = "red";
            } 
            if (r13 == exp13) {
                list[14].style.backgroundColor = "green"; punctajFinal += 1;
            }
            else {

                list[14].style.backgroundColor = "red";
            }


            list[1].innerText = punctajFinal;
            // alert(punctajFinal);
        }

    }
    function validateS3A() {
        var tbody = document.getElementById('tbody_s3A');
        var trList = tbody.getElementsByTagName('tr');
        var exp1 = document.getElementById('sel_s3A_1_maj').value;
        var exp2 = document.getElementById('sel_s3A_1_min').value;
        var exp3 = document.getElementById('sel_s3A_1_con').value;
        var exp4 = document.getElementById('sel_s3A_2_maj').value;
        var exp5 = document.getElementById('sel_s3A_2_min').value;
        var exp6 = document.getElementById('sel_s3A_2_con').value;
        for (var i = 0; i < trList.length; i++)
        {
            var punctajFinal = 0;
            var r1Valid = false;
            var r2Valid = false;
            var r3Valid = false;
            var r4Valid = false;
            var r5Valid = false;
            var r6Valid = false;

            var list = trList[i].getElementsByTagName('td');
            var sections = list[2].getElementsByTagName('section');
            var sections2 = list[3].getElementsByTagName('section');
            var r1 = sections[0].innerText;
            var r2 = sections[1].innerText;
            var r3 = sections[2].innerText;
            var r4 = sections2[0].innerText;
            var r5 = sections2[1].innerText;
            var r6 = sections2[2].innerText;

            if (r1 == exp1) {
                sections[0].style.backgroundColor = "greenyellow";
                r1Valid = true;
            }
            else {

                sections[0].style.backgroundColor = "red";
                r1Valid = false;
            }
            if (r2 == exp2) {
                sections[1].style.backgroundColor = "greenyellow";
                r2Valid = true;
            }
            else
            {

                sections[1].style.backgroundColor = "red";
                r2Valid = false;
            }
            if (r3 == exp3)
            {
                sections[2].style.backgroundColor = "greenyellow";
                r3Valid = true;
            }
            else
            {

                sections[2].style.backgroundColor = "red";
                r3Valid = false;
            }
            if (r4 == exp4) {
                sections2[0].style.backgroundColor = "greenyellow";
                r4Valid = true;
            }
            else {

                sections2[0].style.backgroundColor = "red";
                r4Valid = false;
            }
            if (r5 == exp5)
            {
                sections2[1].style.backgroundColor = "greenyellow";
                r5Valid = true;
            }
            else {

                sections2[1].style.backgroundColor = "red";
                r5Valid = false;
            }
            if (r6 == exp6) {
                sections2[2].style.backgroundColor = "greenyellow";
                r6Valid = true;
            }
            else {

                sections2[2].style.backgroundColor = "red";
                r6Valid = false;
            }
            if (r1Valid == true && r2Valid == true && r3Valid == true) {

                punctajFinal += 2;
            }

            if (r4Valid == true && r5Valid == true && r6Valid == true) {

                punctajFinal += 2;
            }


            if (list[4].getElementsByTagName('section')[0].style.backgroundColor == "greenyellow") {
                punctajFinal += 2;
            }
            if (list[5].getElementsByTagName('section')[0].style.backgroundColor == "greenyellow") {
                punctajFinal += 2;
            }

            if (list[6].style.backgroundColor == "greenyellow") {
                punctajFinal += 2;
            }
            if (list[7].style.backgroundColor == "greenyellow")
            {
                punctajFinal += 2;
            }

            if (list[4].getElementsByTagName('section')[1].style.backgroundColor == "greenyellow") {
                punctajFinal += 1;
            }
            if (list[5].getElementsByTagName('section')[1].style.backgroundColor == "greenyellow") {
                punctajFinal += 1;
            }


            list[1].innerText = punctajFinal;

            //  list[11].innerText = punctajFinal;
            // alert(punctajFinal);
        }
    }
    //function validateS3B() {
    //    var tbody = document.getElementById('tbody_s3B');
    //    var trList = tbody.getElementsByTagName('tr');
    //    var exp1 = document.getElementById('sel_s3B_maj').value;
    //    var exp2 = document.getElementById('sel_s3B_min').value;
    //    var exp3 = document.getElementById('sel_s3B_con').value;
    //    for (var i = 0; i < trList.length; i++) {
    //        var punctajFinal = 0;
    //        var list = trList[i].getElementsByTagName('td');
    //        var sections = list[1].getElementsByTagName('section');
    //        var r1 = sections[0].innerText;
    //        var r2 = sections[1].innerText;
    //        var r3 = sections[2].innerText;
    //        if (r1 == exp1) {
    //            sections[0].style.backgroundColor = "green";
    //            punctajFinal += 1;
    //        }
    //        else {
    //            sections[0].style.backgroundColor = "red";
    //        }
    //        if (r2 == exp2) {
    //            sections[1].style.backgroundColor = "green"; punctajFinal += 1;
    //        }
    //        else {
    //            sections[1].style.backgroundColor = "red";
    //        }
    //        if (r3 == exp3) {
    //            sections[2].style.backgroundColor = "green"; punctajFinal += 1;
    //        }
    //        else {
    //            sections[2].style.backgroundColor = "red";
    //        }
    //        //  list[11].innerText = punctajFinal;
    //        // alert(punctajFinal);
    //    }
    //}
    $('.s3D').click(function () {
        validateNatSubject(this);
        computeFinalRes_S3D();
    });
    function validateNatSubject(el) {
        if (el.style.backgroundColor == "greenyellow")
        {
            el.style.backgroundColor = 'red';
        }
        else
        {
            el.style.backgroundColor = 'greenyellow';
        }
    }

    function computeFinalRes_S3D() {
        var trList = tbodyS3D.getElementsByTagName('tr');
        for (var i = 0; i < trList.length; i++) {
            var punctaj = 0;
            if (trList[i].getElementsByTagName('td')[2].style.backgroundColor == 'greenyellow') {
                punctaj += 2;
            }
            if (trList[i].getElementsByTagName('td')[3].style.backgroundColor == 'greenyellow') {
                punctaj += 2;
            }
            if (trList[i].getElementsByTagName('td')[4].style.backgroundColor == 'greenyellow') {
                punctaj += 2;
            }
            trList[i].getElementsByTagName('td')[1].innerText = punctaj;

        }
    }

    $('.s3C').click(function () {
        validateNatSubject(this);
        computeFinalRes_S3C();
    });

    function computeFinalRes_S3C() {
        var trList = tbodyS3C.getElementsByTagName('tr');
        for (var i = 0; i < trList.length; i++) {
            var punctaj = 0;
            if (trList[i].getElementsByTagName('td')[2].style.backgroundColor == 'greenyellow') {
                punctaj += 2;
            }
            if (trList[i].getElementsByTagName('td')[3].style.backgroundColor == 'greenyellow') {
                punctaj += 2;
            }

            trList[i].getElementsByTagName('td')[1].innerText = punctaj;

        }
    }
    $('.s3B').click(function () {
        validateNatSubject(this);
        computeFinalRes_S3B();
    });
    $('.s2D').click(function () {
        validateNatSubject(this);
        validateS2D();
    });

    function computeFinalRes_S3B() {
        var trList = tbodyS3B.getElementsByTagName('tr');
        for (var i = 0; i < trList.length; i++) {
            var punctaj = 0;
            if (trList[i].getElementsByTagName('td')[2].style.backgroundColor == 'greenyellow') {
                punctaj += 3;
            }
            if (trList[i].getElementsByTagName('td')[3].style.backgroundColor == 'greenyellow') {
                punctaj += 3;
            }

            trList[i].getElementsByTagName('td')[1].innerText = punctaj;

        }
    }

    $('.s3A').click(function () {
        validateNatSubject(this);
        validateS3A();
    });
    $('.s2B').click(function () {
        validateNatSubject(this);
        validateS2B();
    });
    $('.s2C').click(function () {
        validateNatSubject(this);
        validateS2C();
    });



    function saveFinalResults() {
        var listaRezultate = [];
        var listaRezolvariCorecte=[];
        var trList_s1_a = document.getElementById('tbody_s1A').getElementsByTagName('tr');

        for (var i = 0; i < trList_s1_a.length; i++) {

            listaRezultate.push({
                'numeElev': trList_s1_a[i].getElementsByTagName('td')[0].innerText,
                'varianta_ID':@ViewBag.varID,
                's1_A': document.getElementById('tbody_s1A').getElementsByTagName('tr')[i].getElementsByTagName('td')[11].innerText,
                's1_B': document.getElementById('tbody_s1B').getElementsByTagName('tr')[i].getElementsByTagName('td')[8].innerText,
                's2_A': document.getElementById('tbody_s2A').getElementsByTagName('tr')[i].getElementsByTagName('td')[3].innerText,
                's2_B': document.getElementById('tbody_s2B').getElementsByTagName('tr')[i].getElementsByTagName('td')[1].innerText,
                's2_C': document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[1].innerText,
                's2_D': document.getElementById('tbody_s2D').getElementsByTagName('tr')[i].getElementsByTagName('td')[6].innerText,
                's2_E': document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[1].innerText,
                's3_A': document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[1].innerText,
                's3_B': document.getElementById('tbody_s3B').getElementsByTagName('tr')[i].getElementsByTagName('td')[1].innerText,
                's3_C': document.getElementById('tbody_s3C').getElementsByTagName('tr')[i].getElementsByTagName('td')[1].innerText,
                's3_D': document.getElementById('tbody_s3D').getElementsByTagName('tr')[i].getElementsByTagName('td')[1].innerText,
                //salveaza culorile si rezolvarile


            })

            var s2_a=[];    
            s2_a.push(elementStatusChecker(
                document.getElementById('tbody_s2A').getElementsByTagName('tr')[i].getElementsByTagName('td')[1]
                ))            
            s2_a.push(elementStatusChecker(
                document.getElementById('tbody_s2A').getElementsByTagName('tr')[i].getElementsByTagName('td')[2]
                ))
            var s2_b=[];    
            s2_b.push(elementStatusChecker(
                document.getElementById('tbody_s2B').getElementsByTagName('tr')[i].getElementsByTagName('td')[2]
                ))            
            s2_b.push(elementStatusChecker(
                document.getElementById('tbody_s2B').getElementsByTagName('tr')[i].getElementsByTagName('td')[3]
                ))
            s2_b.push(elementStatusChecker(
             document.getElementById('tbody_s2B').getElementsByTagName('tr')[i].getElementsByTagName('td')[4]
             ))            
            s2_b.push(elementStatusChecker(
                document.getElementById('tbody_s2B').getElementsByTagName('tr')[i].getElementsByTagName('td')[5]
                ))
            s2_b.push(elementStatusChecker(
             document.getElementById('tbody_s2B').getElementsByTagName('tr')[i].getElementsByTagName('td')[6]
             ))            
            s2_b.push(elementStatusChecker(
                document.getElementById('tbody_s2B').getElementsByTagName('tr')[i].getElementsByTagName('td')[7]
                ))
            s2_b.push(elementStatusChecker(
             document.getElementById('tbody_s2B').getElementsByTagName('tr')[i].getElementsByTagName('td')[8]
             ))            
            s2_b.push(elementStatusChecker(
                document.getElementById('tbody_s2B').getElementsByTagName('tr')[i].getElementsByTagName('td')[9]
                ))
            var s2_c=[];
            s2_c.push(elementStatusChecker(
                document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[2]
                ))     
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[3]
              ))  
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[4]
              ))  
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[5]
              ))  
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[6]
              ))  
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[7]
              ))  
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[8]
              ))  
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[9]
              ))  
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[10]
              ))  
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[11]
              ))  
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[12]
              ))  
            s2_c.push(elementStatusChecker(
              document.getElementById('tbody_s2C').getElementsByTagName('tr')[i].getElementsByTagName('td')[13]
              ))  
            var s2_d=[];
            s2_d.push(elementStatusChecker(
           document.getElementById('tbody_s2D').getElementsByTagName('tr')[i].getElementsByTagName('td')[1]
           ));
            s2_d.push(elementStatusChecker(
           document.getElementById('tbody_s2D').getElementsByTagName('tr')[i].getElementsByTagName('td')[2]
           ));  
            s2_d.push(elementStatusChecker(
           document.getElementById('tbody_s2D').getElementsByTagName('tr')[i].getElementsByTagName('td')[3]
           ));  
            s2_d.push(elementStatusChecker(
           document.getElementById('tbody_s2D').getElementsByTagName('tr')[i].getElementsByTagName('td')[4]
           ));  
            s2_d.push(elementStatusChecker(
           document.getElementById('tbody_s2D').getElementsByTagName('tr')[i].getElementsByTagName('td')[5]
           ));  
            var s2_e=[];
      
            s2_e.push(elementStatusChecker(
     document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[2]
     )); 
            s2_e.push(elementStatusChecker(
     document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[3]
     )); 
            s2_e.push(elementStatusChecker(
     document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[4]
     )); 
            s2_e.push(elementStatusChecker(
     document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[5]
     )); 
            s2_e.push(elementStatusChecker(
     document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[6]
     )); 
            s2_e.push(elementStatusChecker(
     document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[7]
     )); 
            s2_e.push(elementStatusChecker(
     document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[8]
     )); 
            s2_e.push(elementStatusChecker(
     document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[9]
     )); 
            s2_e.push(elementStatusChecker(
     document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[10]
     )); 
            s2_e.push(elementStatusChecker(
document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[11]
)); 
            s2_e.push(elementStatusChecker(
document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[12]
)); 
            s2_e.push(elementStatusChecker(
document.getElementById('tbody_s2E').getElementsByTagName('tr')[i].getElementsByTagName('td')[13]
)); 

            var s3_a=[];
            s3_a.push(elementStatusChecker(
document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[2].getElementsByTagName('section')[0]
)); 
            s3_a.push(elementStatusChecker(
document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[2].getElementsByTagName('section')[1]
));             s3_a.push(elementStatusChecker(
document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[2].getElementsByTagName('section')[2]
)); 
s3_a.push(elementStatusChecker(
document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[3].getElementsByTagName('section')[0]
)); 
s3_a.push(elementStatusChecker(
document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[3].getElementsByTagName('section')[1]
));             s3_a.push(elementStatusChecker(
document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[3].getElementsByTagName('section')[2]
)); 

s3_a.push(elementStatusChecker(
document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[4].getElementsByTagName('section')[1]
)); 
s3_a.push(elementStatusChecker(
document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[5].getElementsByTagName('section')[1]
)); 
s3_a.push(elementStatusChecker(
document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[6])); 
s3_a.push(elementStatusChecker(
document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[7]
)); 
var s3_a_venn=[];
var s3_a_venn_aux=[];
var aux=aux=document.getElementById('expRes_s3A_1').getElementsByTagName('rez');
for (var j = 0; j <  aux.length; j++) {
    s3_a_venn_aux.push(aux[j].innerText);
}
s3_a_venn.push(
//document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[4].getElementsByTagName('section')[0].innerText
s3_a_venn_aux
); 
s3_a_venn_aux=[];
aux=document.getElementById('expRes_s3A_2').getElementsByTagName('rez');
for (var j = 0; j <  aux.length; j++) {
    s3_a_venn_aux.push(aux[j].innerText);
}
s3_a_venn.push(
//document.getElementById('tbody_s3A').getElementsByTagName('tr')[i].getElementsByTagName('td')[5].getElementsByTagName('section')[0].innerText
s3_a_venn_aux
); 

var s3_b=[];
s3_b.push(elementStatusChecker(
document.getElementById('tbody_s3B').getElementsByTagName('tr')[i].getElementsByTagName('td')[2]
)); 
s3_b.push(elementStatusChecker(
document.getElementById('tbody_s3B').getElementsByTagName('tr')[i].getElementsByTagName('td')[3]
)); 

var s3_c=[];
s3_c.push(elementStatusChecker(
document.getElementById('tbody_s3C').getElementsByTagName('tr')[i].getElementsByTagName('td')[2]
)); 
s3_c.push(elementStatusChecker(
document.getElementById('tbody_s3C').getElementsByTagName('tr')[i].getElementsByTagName('td')[3]
)); 

            
var s3_d=[];
s3_d.push(elementStatusChecker(
document.getElementById('tbody_s3D').getElementsByTagName('tr')[i].getElementsByTagName('td')[2]
)); 
s3_d.push(elementStatusChecker(
document.getElementById('tbody_s3D').getElementsByTagName('tr')[i].getElementsByTagName('td')[3]
)); 
s3_d.push(elementStatusChecker(
document.getElementById('tbody_s3D').getElementsByTagName('tr')[i].getElementsByTagName('td')[4]
)); 


listaRezolvariCorecte.push({
    's2_a':s2_a,
    's2_b':s2_b,
    's2_c':s2_c,
    's2_d':s2_d,
    's2_e':s2_e,
    's3_a':s3_a,
    's3_a_venn':s3_a_venn,
    's3_b':s3_b,
    's3_c':s3_c,
    's3_d':s3_d,
});
        }


        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/evaluare/salveazaRezultateSesiune",
            data: {
                'list':listaRezultate,
                'listCorect':listaRezolvariCorecte
            },
        }).done(function (data) {
            if (data.ok == true) {
                window.location.href = "/evaluare/listaVarianteFinale";
            } else {
                alert("Eroare la salvare!")
            }
        });

    }


    function elementStatusChecker(el){
        if(el.style==undefined){
            console.log(el);
            return;
        }
        if (el.style.backgroundColor=="red"){
            return false;
        }
        else{
            return true;
        }
    }
</script>
