﻿<tr>
    <th>Rezultate asteptatea</th>
    <th></th>
    <th>
        <select id="sel_s2C_1" onchange="validateS2C()">
            <option ></option>
            <option >
                SaP
            </option>

            <option >
                SeP
            </option>

            <option >
                SoP
            </option>

            <option >
                SiP
            </option>
        </select>
    </th>
    <th>
        <select id="sel_s2C_2" onchange="validateS2C()">
            <option></option>
            <option>
                SaP
            </option>

            <option>
                SeP
            </option>

            <option>
                SoP
            </option>

            <option>
                SiP
            </option>
        </select>
    </th>
    <th>
        <select id="sel_s2C_3" onchange="validateS2C()">
            <option></option>
            <option>
                SaP
            </option>

            <option>
                SeP
            </option>

            <option>
                SoP
            </option>

            <option>
                SiP
            </option>
        </select>
    </th>
    <th>
        <select id="sel_s2C_4" onchange="validateS2C()">
            <option></option>
            <option>
                SaP
            </option>

            <option>
                SeP
            </option>

            <option>
                SoP
            </option>

            <option>
                SiP
            </option>
        </select>
    </th>
    <th>
        <select id="sel_s2C_5" onchange="validateS2C()">
            <option></option>
            <option>
                PaS
            </option>

            <option>
                PeS
            </option>

            <option>
                PiS
            </option>

            <option>
                PoS
            </option>
        </select>
    </th>
    <th>
        <select id="sel_s2C_7" onchange="validateS2C()">
            <option></option>
            <option>
                PaS
            </option>

            <option>
                PeS
            </option>

            <option>
                PiS
            </option>

            <option>
                PoS
            </option>
        </select>
    </th>
    <th>
        <select id="sel_s2C_6" onchange="validateS2C()">
            <option></option>
            <option>
                Sa~P
            </option>

            <option>
                Se~P
            </option>

            <option>
                So~P
            </option>

            <option>
                Si~P
            </option>
        </select>
    </th>
  
    <th>
        <select id="sel_s2C_8" onchange="validateS2C()">
            <option></option>
            <option>
                Sa~P
            </option>

            <option>
                Se~P
            </option>

            <option>
                So~P
            </option>

            <option>
                Si~P
            </option>
        </select>
    </th>
    <th></th>
    <th></th>
    <th></th>
  

</tr>
