﻿@*out of use~!!!!*@

<tr>
    <th>Rezultate asteptate</th>
    <th>
        <select id="sel_s3B_maj" onchange="validateS3B()">
            <option></option>
            <option>MaP</option>
            <option>PaM</option>
            <option>MeP</option>
            <option>PeM</option>
            <option>MiP</option>
            <option>PiM</option>
            <option>MoP</option>
            <option>PoM</option>

        </select>
        <br />
        <select id="sel_s3B_min" onchange="validateS3B()">
            <option></option>
            <option>MaS</option>
            <option>SaM</option>
            <option>MeS</option>
            <option>SeM</option>
            <option>MiS</option>
            <option>SiM</option>
            <option>MoS</option>
            <option>SoM</option>

        </select>
        <hr />
        <select id="sel_s3B_con" onchange="validateS3B()">
            <option></option>
            <option>SaP</option>
            <option>SeP</option>
            <option>SiP</option>
            <option>SoP</option>

        </select>
    </th>
    <th></th>
    <th></th>
    <th></th>
</tr>
