﻿<tr>
    <th>Rezultate asteptate</th>

    <th>
        <select id="sel_s2D_1" onchange="validateS2D()">
            <option></option>
            <option>
                SaP
            </option>

            <option>
                SeP
            </option>

            <option>
                SoP
            </option>

            <option>
                SiP
            </option>
        </select>
    </th>
    <th>
        <select id="sel_s2D_2" onchange="validateS2D()">
            <option></option>
            <option>
                PaS
            </option>

            <option>
                PeS
            </option>

            <option>
                PiS
            </option>

            <option>
                PoS
            </option>
        </select>
    </th>
    <th>
        <select id="sel_s2D_3" onchange="validateS2D()">
            <option></option>
            <option>
                Sa~P
            </option>

            <option>
                Se~P
            </option>

            <option>
                So~P
            </option>

            <option>
                Si~P
            </option>
        </select>
    </th>
    <th></th>
    <th></th>
</tr>
