﻿<tr>

    <th>
        Rezultate asteptate
    </th>
    <th></th>
    <th>
        <select id="sel_s2B_1" onchange="validateS2B()">
            <option>SaP</option>
            <option>SeP</option>
            <option>SiP</option>
            <option>SoP</option>
        </select>
    </th>
    <th>
        <select id="sel_s2B_2" onchange="validateS2B()">
            <option>SaP</option>
            <option>SeP</option>
            <option>SiP</option>
            <option>SoP</option>
        </select>
    </th>
    <th>
        <select id="sel_s2B_3" onchange="validateS2B()">
            <option>SaP</option>
            <option>SeP</option>
            <option>SiP</option>
            <option>SoP</option>
        </select>
    </th>
    <th>
        <select id="sel_s2B_4" onchange="validateS2B()">
            <option>SaP</option>
            <option>SeP</option>
            <option>SiP</option>
            <option>SoP</option>
        </select>
    </th>
    <th>

    </th>

    <th>

    </th>
    <th>

    </th>
    <th>

    </th>
 
</tr>
