﻿@model List<logica.Models.variantaFinala>
@{
    ViewBag.Title = "listaVarianteFinale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>listaVarianteFinale</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
              <th>Nume varianta</th>
            <th>Data creare</th>
            <th></th>
        </tr>

    </thead>
<tbody>
    @foreach (var item in Model)
    {<tr>
    <td>
        @item.id
    </td>
    <td>
        @item.finalVarName
    </td>
    <td>
       @item.createTime
    </td>
    <td>
        <a class="btn btn-primary glyphicon glyphicon-pencil" href="/evaluare/testareFull/@item.id">Incepe varianta</a>
      </td>
    
    </tr>

    }
</tbody>
</table>
