﻿@model List<logica.Models.rezultateVariantaElev>
@{
    ViewBag.Title = "lista_rezultateTestari";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table-bordered">

    <thead>
        <tr>
            <th>
                Varianta
            </th>
            <th>Punctaj final</th>
            <th>
                SI A
            </th>
            <th>
                SI B
            </th>
            <th>
                SII A
            </th>
            <th>
                SII B
            </th>
            <th>
                SII C
            </th>
            <th>
                SII D
            </th>
            <th>
                SII E
            </th>
            <th>
                SIII A
            </th>
            <th>
                SIII B
            </th>
            <th>
                SIII C
            </th>
            <th>
                SIII D
            </th>
            <th>Data rezolvare varianta</th>
            <th></th>
     
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Model[i].varianta_ID
                 
                </td>
                <td>
                    @Model[i].punctajFinal
                </td>
                <td>
                    @Model[i].s1_A
                </td>
                <td>
                    @Model[i].s1_B
                </td>
                <td>
                    @Model[i].s2_A
                </td>
                <td>
                    @Model[i].s2_B
                </td>
                <td>
                    @Model[i].s2_C
                </td>
                <td>
                    @Model[i].s2_D
                </td>
                <td>
                    @Model[i].s2_E
                </td>
                <td>
                    @Model[i].s3_A
                </td>
                <td>
                    @Model[i].s3_B
                </td>
                <td>
                    @Model[i].s3_C
                </td>
                <td>
                    @Model[i].s3_D
                </td>
                <td>
                    @Model[i].data
                </td>
                <td>
   @*  @Html.ActionLink("VARIANTA", "vizualizare_elev_variantaCompletaCorectat","evaluare",new {modelId=Model[i].id },null)*@
       <a href="/evaluare/vizualizare_elev_variantaCompletaCorectat?modelId=@Model[i].id" class="btn  btn-warning glyphicon glyphicon-zoom-in">Vizualizare</a>
                         </td>
            </tr>

        }

    </tbody>
</table>
