﻿@model logica.Models.s1GrilaViewModel
@{
    ViewBag.Title = "testare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Varianta @Model.var.ID</h1>
<div id="s1Div">
    <h3>Subiectul I A</h3>
    @for (int i = 0; i < Model.cerinte.Count(); i++)
    {
<div class="col-md-12 answers">
            <div class="row">
                @(i + 1). @Model.cerinte[i].cerinta
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model.cerinte[i].answer" order="1">     a) @Model.cerinte[i].r1
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model.cerinte[i].answer" order="2">      b) @Model.cerinte[i].r2
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model.cerinte[i].answer" order="3">       c) @Model.cerinte[i].r3
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model.cerinte[i].answer" order="4">      d) @Model.cerinte[i].r4
            </div>
        </div> <br />

    }
</div>

<h3>Subiectul II B</h3>
<div class="col-md-12" id="s1bDiv">
    <div class="row">
        Cerinta: @Model.s1B.cerinta
    </div>
    <div class="row">
        1) @Model.s1B.a
    </div>

    <div class="row">
        2) @Model.s1B.b
    </div>

    <div class="row">
        a) @Model.s1B.r1  Adevarat:<input type="radio" name="r1" value="True" answ="@Model.s1B.answer_r1.ToString()" /> Fals:<input answ="@Model.s1B.answer_r1.ToString()" value="False" type="radio" name="r1" />
    </div>

    <div class="row">
        b) @Model.s1B.r2  Adevarat:<input type="radio" name="r2"value="True" answ="@Model.s1B.answer_r2.ToString()" /> Fals:<input type="radio" name="r2" answ="@Model.s1B.answer_r2.ToString()" value="False" />
    </div>

    <div class="row">
        c) @Model.s1B.r3  Adevarat:<input type="radio" name="r3" value="True" answ="@Model.s1B.answer_r3.ToString()" /> Fals:<input type="radio" answ="@Model.s1B.answer_r3.ToString()" value="False" name="r3" />
    </div>
    <div class="row">
        d) @Model.s1B.r4  Adevarat:<input type="radio" name="r4" value="True" answ="@Model.s1B.answer_r4.ToString()" /> Fals:<input type="radio" answ="@Model.s1B.answer_r4.ToString()" value="False" name="r4" />
    </div>
    <div class="row">
        e) @Model.s1B.r5  Adevarat:<input type="radio" name="r5" value="True" answ="@Model.s1B.answer_r5.ToString()" /> Fals:<input type="radio" answ="@Model.s1B.answer_r5.ToString()" value="False" name="r5" />
    </div>
    <div class="row">
        f) @Model.s1B.r6  Adevarat:<input type="radio" name="r6"value="True" answ="@Model.s1B.answer_r1.ToString()"/> Fals:<input type="radio" answ="@Model.s1B.answer_r6.ToString()" value="False" name="r6" />
    </div>
</div>
<label>Punctaj Final</label>
<a id="punctajFinal"></a> <br/>
<button type="button" class="glyphicon glyphicon-ok-circle btn" onclick="validateTest()" id="validBtn"></button>
@Html.ActionLink("Continua testul", "testareS1B", new { id = Model.var.ID }, new { @class = "btn btn-primary", @id = "nextBtn", @disabled ="" })
<script  type="text/javascript">

    var punctajFinal = 0;
    function validateTest()
    {
        var radios = document.getElementById('s1Div').getElementsByTagName('input');
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].type === 'radio' && radios[i].checked) {
                // get value, set checked flag or do whatever you need to
                if (radios[i].value == radios[i].getAttribute('order')) {
                    radios[i].parentNode.style.backgroundColor = "green";
                    punctajFinal += 2;
                }
                else
                {
                    radios[i].parentNode.style.backgroundColor = "red";
                    
                }

            } else {

                if (radios[i].value == radios[i].getAttribute('order')) {
                    radios[i].parentNode.style.backgroundColor = "yellowgreen";
                }
            }
            radios[i].disabled = true;
        }

        var radios = document.getElementById('s1bDiv').getElementsByTagName('input');
        for (var i = 0; i < radios.length; i++) {
            if (radios[i].type === 'radio' && radios[i].checked) {
                // get value, set checked flag or do whatever you need to
                if (radios[i].value == radios[i].getAttribute('answ')) {
                    radios[i].parentNode.style.backgroundColor = "green";
                    punctajFinal += 1;
                } else {
                    radios[i].parentNode.style.backgroundColor = "red";

                }

            } else {

                if (radios[i].value == radios[i].getAttribute('answe')) {
                    radios[i].parentNode.style.backgroundColor = "yellowgreen";
                }
            }
            radios[i].disabled = true;
        }
               
        document.getElementById('punctajFinal').innerText = punctajFinal;
        document.getElementById('validBtn').disabled = true;
        document.getElementById('nextBtn').removeAttribute('disabled');
    }
</script>