﻿
@{
    ViewBag.Title = "variantaNoua";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>variantaNoua</h2>
<input type="text" placeholder="Numele variantei" id="varName" class="form-control" />
@Html.Action("variantaNoua","s1Cerinte",null)
@Html.Action("createS2", "s2", null)
@Html.Action("createS3","s3",null)

<button type="button" class="btn btn-primary" onclick="addFinal()">Creaza subiect</button>

<div class="modal fade bs-example-modal-sm" id="myModals1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content container" id="modal-content">
            <div id="continut" class="form-horizontal">

                @Html.Action("s1AddModal", "s1Cerinte")

            </div>


        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content container" id="modal-content">
            <div id="continut" class="form-horizontal">

                @Html.Action("s1BAddModal", "s1Cerinte")

            </div>


        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-sm" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" style="width:auto" role="document">
        <div class="modal-content container" id="modal-content">
            <div id="continut3" class="form-horizontal">
                <canvas id="canvasModal" class="col-md-12" style="min-width:300px"></canvas>
          <button type="button" onclick="$('#myModal3').modal('toggle');" class="btn btn-info glyphicon glyphicon-thumbs-up">Inchide</button>
              </div>


        </div>
    </div>
</div>


@section Scripts{

   
<script src="~/Scripts/js/fabric.js"></script>
<script type="text/javascript">
    var s1bID = null;
    var selectedEl;
    var s1ID;
    var s2ID;
    var s3ID;
    var s1A_selected = 0;
    var canvasModal = this.__canvasModal = new fabric.Canvas('canvasModal');
    $(document).ready(function () {
        //S1
//        $("#tab1").dataTable();
//        $("#tab2").dataTable();
////S2
//        $('#tableProp').dataTable();
//        $('#tableE').dataTable();
//        //s3
//        $('#tableSilog').dataTable();
//        $('#tableC').dataTable();

    })

    function validateAllSubject() {
        if (document.getElementById('varName').value == '') {
            alert('Alegeti numele variantei!');
            return false;
        }
        var s1Tables = document.getElementById('s1ATbody');
        var list = s1Tables.getElementsByClassName('selected');
        if (list.length != 10) {
            alert('Selectati 10 cerinte pentru subiectul I A!');
            return false;
        }
        if (s1bID == null) {
            alert('Selectati o cerinta pentru subiectul I B!');
            return false;
        }
        if (document.getElementsByClassName('aProp').length != 4) {
            alert("Selectati 4 propozitii categorice pentru subiectul II A!");
            return false;
        }
        if (document.getElementById('E_id') ==undefined) {
            alert('Alegeti un rationament pentru subiectul II E');
            return false;
        }
        if (document.getElementById('aInput_1').value == 'null') {
            alert('Alegeti un silogism pentru subiectul III A');
            return false;
        }
        if (document.getElementById('aInput_2').value == 'null') {
            alert('Alegeti un silogism pentru subiectul III A');
            return false;
        }
        if (document.getElementById('b').value =='') {
            alert('Alegeti o propozitie pentru subiectul III B');
            return false;
        }
        if (document.getElementById('c_id') == undefined) {
            alert('Alegeti un silogism pentru subiectul III C');
            return false;
        }
        if (document.getElementById('d_def').value == '') {
            alert('Alegeti o definitie pentru subiectul III D');
            return false;
        }
        if (document.getElementById('d_term').value == '') {
            alert('Alegeti un termen pentru subiectul III D');
            return false;
        }
        return true;
    }
    //S1
    function selectS1A(id, tr) {
        
        if (tr.classList.contains('selected')) {
            s1A_selected--;
            tr.classList.remove('selected');
            document.getElementById(id).remove();
        }
        else {
            if (s1A_selected != 10) {
                s1A_selected++;
                tr.classList.add("selected");
                var node = document.createElement("tr");
                node.setAttribute('id', id);
                node.innerHTML = tr.innerHTML;
                document.getElementById('listBody').appendChild(node);
            }
            }
    }

    function setS1BID(id, el) {
        if (selectedEl != undefined)
            if (selectedEl.classList.contains("selected")) {

                selectedEl.classList.remove("selected");
            }
        s1bID = id;
        el.classList.add("selected");
        selectedEl = el;
    }


    function addNewSubiectS1() {
        var idList = [];
        var list = document.getElementById('listBody').getElementsByTagName('tr');
        for (var i = 0; i < list.length; i++) {
            idList.push(list[i].id);
        }

        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/s1Cerinte/variantaNoua",
            data: {
             "cerinte": idList, "s1B": s1bID
            },
        }).done(function (data) {
            if (data.ok == true) {
                s1ID=data.s1model.ID;
            }
            else {
                alert("Eroare la adaugare!")
            }
        });


    }

    function openDiagramModal(id) {
        $.ajax({
            async: false,
            cache: false,
            type: "GET",
            url: "/s1Cerinte/s1b1Modal",
            data: { "id": id },
        }).done(function (data) {
            if (data.svg != null) {
                canvasModal.loadFromDatalessJSON(data.svg);
                $("#myModal3").modal("show");
            } else {
                alert("Eroare la cautare!")
            }
        });

    }


    //S2
    function validateSubject() {
        //validate A:
        if (document.getElementsByClassName('aProp').length != 4) {
            alert("Sunt necesare 4 propozitii!");
            return false;
        }
        if (document.getElementById('E').innerHTML == '') {
            alert('Alegeti un rationament pentru punctul E');
            return false;
        }
        return true;



    }
    function doneSubject2() {
        if (validateSubject() == true) {

            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "/s2/addS2Complete",
                data: {
                    "model.p1ID": document.getElementsByClassName('aProp')[0].value,
                    "model.p2ID": document.getElementsByClassName('aProp')[1].value,
                    "model.p3ID": document.getElementsByClassName('aProp')[2].value,
                    "model.p4ID": document.getElementsByClassName('aProp')[3].value,
                    "model.A_1": document.getElementById('a_1').value,
                    "model.A_2": document.getElementById('a_2').value,
                    "model.b_type1": document.getElementById('b_type1').value,
                    "model.b_type2": document.getElementById('b_type2').value,
                    "model.b_type3": document.getElementById('b_type3').value,
                    "model.b_type4": document.getElementById('b_type4').value,
                    "model.b_prop1": document.getElementById('b_prop1').value,
                    "model.b_prop2": document.getElementById('b_prop2').value,
                    "model.b_prop3": document.getElementById('b_prop3').value,
                    "model.b_prop4": document.getElementById('b_prop4').value,
                    "model.C_1": document.getElementById('c_p1').value,
                    "model.C_2": document.getElementById('c_p2').value,
                    "model.D_prop": document.getElementById('d_prop').value,
                    "model.D_tip1": $("#d_tip1 option:selected").text(),
                    "model.D_tip2": $("#d_tip2 option:selected").text(),
                    "model.EID": document.getElementById('E_id').value,
                },
            }).done(function (data) {
                if (data.ok == true) {
                    s2ID =data.s2Model.ID;
                } else {
                    alert("Eroare la stergere!")
                }
            });

        }
    }

    //s3
    function saveS3() {

        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/s3/createS3",
            data: {
                "model.A_silogismID_1": document.getElementById('aInput_1').value,
                "model.A_silogismID_2": document.getElementById('aInput_2').value,
                "model.B_silog": document.getElementById('b').value,
                "model.C_ID": document.getElementById('c_id').value,
                "model.D_def": document.getElementById('d_def').value,
                "model.D_term":document.getElementById('d_term').value
            },
        }).done(function (data) {
            if (data.ok == true) {
               // location.reload(true);
                s3ID=data.model.ID;
            } else {
                alert("Eroare la Adaugare!")
            }
        });
    }

    //final
    function addFinal() {
        
        if (validateAllSubject()==true) {
            var s1 = addNewSubiectS1();
            var s2 = doneSubject2();
            var s3 = saveS3();
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "/evaluare/variantaNoua",
                data: {
                    "name": document.getElementById('varName').value,
                    "s1id": s1ID,
                    "s2id": s2ID,
                    "s3id": s3ID

                },
            }).done(function (data) {
                if (data.ok == true) {
                    window.location.href ='/Profesor/asignareVariantaElev?varId='+data.model.id
                } else {
                    alert("Eroare la stergere!")
                }
            });
        }
    }
</script>
}       