﻿
@{
    ViewBag.Title = "vizualizare_elev_variantaCompletaCorectat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model logica.Models.finalVarViewModel
@{
    ViewBag.Title = "testareFull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>vizualizare_elev_variantaCompletaCorectat</h2>
<h2>@Model.numeleVariantei</h2>

<div id="s1Div">
    <h3>Subiectul I A</h3>
    @for (int i = 0; i < Model.s1model.cerinte.Count(); i++)
    {
        <div class="col-md-12 answers">
            <div class="row">
                @(i + 1). @Model.s1model.cerinte[i].cerinta
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model.s1model.cerinte[i].answer" order="1">     a) @Model.s1model.cerinte[i].r1
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model.s1model.cerinte[i].answer" order="2">      b) @Model.s1model.cerinte[i].r2
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model.s1model.cerinte[i].answer" order="3">       c) @Model.s1model.cerinte[i].r3
            </div>
            <div class="row">
                <input type="radio" name="optradio_@i" value="@Model.s1model.cerinte[i].answer" order="4">      d) @Model.s1model.cerinte[i].r4
            </div>
        </div> <br />

    }
</div>
<div class="col-md-12" id="s1bDiv">
    <h3>Subiectul I B</h3>
    <div class="row">
        Cerinta: @Model.s1model.s1B.cerinta
    </div>
    <div class="row">
        1)Cerinta a <br />
        <div class="col-md-12 row">
            <div class="col-md-3">
                <canvas id="canvasS1B1"></canvas>
                <input type="radio" name="s1_bA" order="1" />
            </div>
            <div class="col-md-3">
                <canvas id="canvasS1B2"></canvas>
                <input type="radio" name="s1_bA" order="2" />
            </div>
            <div class="col-md-3">
                <canvas id="canvasS1B3"></canvas>
                <input type="radio" name="s1_bA" order="3" />
            </div>
            <div class="col-md-3">
                <canvas id="canvasS1B4"></canvas>
                <input type="radio" name="s1_bA" order="4" />
            </div>
        </div>
    </div>

    <div class="row">
        2) Cerinta b
    </div>

    <div class="row">
        a) @Model.s1model.s1B.r1  Adevarat:<input type="radio" name="r1" value="True" answ="@Model.s1model.s1B.answer_r1.ToString()" />
        Fals:<input answ="@Model.s1model.s1B.answer_r1.ToString()" value="False" type="radio" name="r1" />
    </div>

    <div class="row">
        b) @Model.s1model.s1B.r2  Adevarat:<input type="radio" name="r2" value="True" answ="@Model.s1model.s1B.answer_r2.ToString()" />
        Fals:<input type="radio" name="r2" answ="@Model.s1model.s1B.answer_r2.ToString()" value="False" />
    </div>

    <div class="row">
        c) @Model.s1model.s1B.r3  Adevarat:<input type="radio" name="r3" value="True" answ="@Model.s1model.s1B.answer_r3.ToString()" />
        Fals:<input type="radio" answ="@Model.s1model.s1B.answer_r3.ToString()" value="False" name="r3" />
    </div>
    <div class="row">
        d) @Model.s1model.s1B.r4  Adevarat:<input type="radio" name="r4" value="True" answ="@Model.s1model.s1B.answer_r4.ToString()" />
        Fals:<input type="radio" answ="@Model.s1model.s1B.answer_r4.ToString()" value="False" name="r4" />
    </div>
    <div class="row">
        e) @Model.s1model.s1B.r5  Adevarat:<input type="radio" name="r5" value="True" answ="@Model.s1model.s1B.answer_r5.ToString()" />
        Fals:<input type="radio" answ="@Model.s1model.s1B.answer_r5.ToString()" value="False" name="r5" />
    </div>
    <div class="row">
        f) @Model.s1model.s1B.r6  Adevarat:<input type="radio" name="r6" value="True" answ="@Model.s1model.s1B.answer_r1.ToString()" />
        Fals:<input type="radio" answ="@Model.s1model.s1B.answer_r6.ToString()" value="False" name="r6" />
    </div>


</div>
<div class="col-md-12">
    <h3>Subiectul II</h3>
    <div class="row">
        1:@Html.DisplayFor(model => model.s2model.s2PropList[0].prop) <br />
        2:@Html.DisplayFor(model => model.s2model.s2PropList[1].prop)<br />
        3:@Html.DisplayFor(model => model.s2model.s2PropList[2].prop)<br />
        4:@Html.DisplayFor(model => model.s2model.s2PropList[3].prop)<br />
    </div>
    <div class="row">
        A:Precizati formulele logice corespunzatoare propozitiilor:@Model.s2model.cerintaModel.A_1 si @Model.s2model.cerintaModel.A_2
        <br /> Raspuns:
        <select id="s2_a_sel1">
            <option value="0"></option>
            <option value="1">
                SaP
            </option>

            <option value="2">
                SeP
            </option>

            <option value="3">
                SoP
            </option>

            <option value="4">
                SiP
            </option>
        </select>
        si
        <select id="s2_a_sel2">
            <option value="0"></option>
            <option value="1">
                SaP
            </option>

            <option value="2">
                SeP
            </option>

            <option value="3">
                SoP
            </option>

            <option value="4">
                SiP
            </option>
        </select>
    </div>

    <div class="row">
        B:Construiti, atat in limbaj formal, cat si in limabj natural, @Model.s2model.cerintaModel.b_type1 propozitiei @Model.s2model.cerintaModel.b_prop1 ,
        @Model.s2model.cerintaModel.b_type2 propozitiei @Model.s2model.cerintaModel.b_prop2 ,@Model.s2model.cerintaModel.b_type3 propozitiei @Model.s2model.cerintaModel.b_prop3,
        si @Model.s2model.cerintaModel.b_type4 propozitiei @Model.s2model.cerintaModel.b_prop4 . <br />
        <div class="col-md-12 row">
            1:<br />
            <div class="col-md-3">
                Propozitia in limbaj formal <br />
                <select id="s2_b_sel1">
                    <option value="0"></option>
                    <option value="1">
                        SaP
                    </option>

                    <option value="2">
                        SeP
                    </option>

                    <option value="3">
                        SoP
                    </option>

                    <option value="4">
                        SiP
                    </option>
                </select>
            </div>
            <div class="col-md-9">
                <textarea placeholder="Propozitia in limbaj natural" class="form-control" id="s2_b1N" style="min-width:100%"></textarea>
            </div>
        </div>

        <div class="col-md-12 row">
            2:<br />
            <div class="col-md-3">
                Propozitia in limbaj formal <br />
                <select id="s2_b_sel2">
                    <option value="0"></option>
                    <option value="1">
                        SaP
                    </option>

                    <option value="2">
                        SeP
                    </option>

                    <option value="3">
                        SoP
                    </option>

                    <option value="4">
                        SiP
                    </option>
                </select>
            </div>
            <div class="col-md-9">
                <textarea placeholder="Propozitia in limbaj natural" class="form-control" id="s2_b2N" style="min-width:100%"></textarea>
            </div>
        </div>
        <div class="col-md-12 row">
            3:<br />
            <div class="col-md-3">
                Propozitia in limbaj formal <br />
                <select id="s2_b_sel3">
                    <option value="0"></option>
                    <option value="1">
                        SaP
                    </option>

                    <option value="2">
                        SeP
                    </option>

                    <option value="3">
                        SoP
                    </option>

                    <option value="4">
                        SiP
                    </option>
                </select>
            </div>
            <div class="col-md-9">
                <textarea placeholder="Propozitia in limbaj natural" class="form-control" id="s2_b3N" style="min-width:100%"></textarea>
            </div>
        </div>
        <div class="col-md-12 row">
            4:<br />
            <div class="col-md-3">
                Propozitia in limbaj formal <br />
                <select id="s2_b_sel4">
                    <option value="0"></option>
                    <option value="1">
                        SaP
                    </option>

                    <option value="2">
                        SeP
                    </option>

                    <option value="3">
                        SoP
                    </option>

                    <option value="4">
                        SiP
                    </option>
                </select>
            </div>
            <div class="col-md-9">
                <textarea placeholder="Propozitia in limbaj natural" class="form-control" id="s2_b4N" style="min-width:100%"></textarea>
            </div>
        </div>
    </div>

</div>

<div class="col-md-12">
    C:Aplicati explicit operatiile de conversiune si observiune pentru a deriva conversa si observa corecte fiecareia dintre propozitiile
    @Model.s2model.cerintaModel.C_1 si @Model.s2model.cerintaModel.C_2 , atat in limbaj formal, cat si in limbaj natural.



</div>
<div class="row">
    <div class="col-md-4 row">
        <select id="s2_c_sel1" class="col-md-3">
            <option value="0"></option>
            <option value="1">
                SaP
            </option>

            <option value="2">
                SeP
            </option>

            <option value="3">
                SoP
            </option>

            <option value="4">
                SiP
            </option>
        </select>
        <div class="col-md-4"><span>Conversiune </span><br /><span aria-hidden="true">&mdash;&mdash;&mdash;&mdash;&mdash;&rsaquo;</span></div>
        <select id="s2_c_sel1_conv" class="col-md-3">
            <option value="0"></option>
            <option value="1">
                PaS
            </option>

            <option value="2">
                PiS
            </option>

            <option value="3">
                PeS
            </option>

            <option value="4">
                PoS
            </option>
        </select>
    </div>
    <div class="col-md-8">
        <textarea placeholder="Conversiunea in limbaj natural a primei propozitii" id="s2_c1NC" class="form-control" style="min-width:100%"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-4 row">
        <select id="s2_c_sel2" class="col-md-3">
            <option value="0"></option>
            <option value="1">
                SaP
            </option>

            <option value="2">
                SeP
            </option>

            <option value="3">
                SoP
            </option>

            <option value="4">
                SiP
            </option>
        </select>
        <div class="col-md-4"><span>Obversiune </span><br /><span aria-hidden="true">&mdash;&mdash;&mdash;&mdash;&mdash;&rsaquo;</span></div>
        <select id="s2_c_sel1_obv" class="col-md-3">
            <option value="0"></option>
            <option value="1">
                Se~P
            </option>

            <option value="2">
                Sa~P
            </option>

            <option value="3">
                So~P
            </option>

            <option value="4">
                Si~P
            </option>
        </select>
    </div>   <div class="col-md-8">
        <textarea placeholder="Obversiunea in limbaj natural a primei propozitii" id="s2_c1NO" class="form-control" style="min-width:100%"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-4 row">
        <select id="s2_c_sel3" class="col-md-3">
            <option value="0"></option>
            <option value="1">
                SaP
            </option>

            <option value="2">
                SeP
            </option>

            <option value="3">
                SoP
            </option>

            <option value="4">
                SiP
            </option>
        </select>
        <div class="col-md-4"><span>Conversiune </span><br /><span aria-hidden="true">&mdash;&mdash;&mdash;&mdash;&mdash;&rsaquo;</span></div>
        <select id="s2_c_sel2_conv" class="col-md-3">
            <option value="0"></option>
            <option value="1">
                PaS
            </option>

            <option value="2">
                PiS
            </option>

            <option value="3">
                PeS
            </option>

            <option value="4">
                PoS
            </option>
        </select>
    </div> <div class="col-md-8">
        <textarea placeholder="Conversiunea in limbaj natural pentru a doua propozitie" id="s2_c2NC" class="form-control" style="min-width:100%"></textarea>
    </div>
</div>
<div class="row">
    <div class="col-md-4 row">
        <select id="s2_c_sel4" class="col-md-3">
            <option value="0"></option>
            <option value="1">
                SaP
            </option>

            <option value="2">
                SeP
            </option>

            <option value="3">
                SoP
            </option>

            <option value="4">
                SiP
            </option>
        </select>
        <div class="col-md-4"><span>Obversiune </span><br /><span aria-hidden="true">&mdash;&mdash;&mdash;&mdash;&mdash;&rsaquo;</span></div>
        <select id="s2_c_sel2_obv" class="col-md-3">
            <option value="0"></option>
            <option value="1">
                Se~P
            </option>

            <option value="2">
                Sa~P
            </option>

            <option value="3">
                So~P
            </option>

            <option value="4">
                Si~P
            </option>
        </select>
    </div>
    <div class="col-md-8">
        <textarea placeholder="Obversiunea in limbaj natural pentru a doua propozitie" id="s2_c3NO" class="form-control" style="min-width:100%"></textarea>
    </div>
</div>

<div class="col-md-12 row">
    D:Construiti atat in limbaj formal cat si in limbaj natural @Model.s2model.cerintaModel.D_tip1 @Model.s2model.cerintaModel.D_tip2 propozitiei @Model.s2model.cerintaModel.D_prop .
    <br />
    <select id="s2_d_prop" class="col-md-2">
        <option value="0"></option>
        <option value="1">SaP</option>
        <option value="2">SeP</option>
        <option value="3">SiP</option>
        <option value="4">SoP</option>
    </select>
    @if (Model.s2model.cerintaModel.D_tip1 == "obversa")
    {
        <div class="col-md-3"><span>Obversiune </span><br /><span aria-hidden="true">&mdash;&mdash;&mdash;&mdash;&mdash;&rsaquo;</span></div>
    }
    else
    {
        <div class="col-md-3"><span>Conversiune </span><br /><span aria-hidden="true">&mdash;&mdash;&mdash;&mdash;&mdash;&rsaquo;</span></div>
    }

    <select id="s2_d_conv" class="col-md-2">
        <option value="0"></option>
        <option value="1">
            PaS
        </option>

        <option value="2">
            PiS
        </option>

        <option value="3">
            PeS
        </option>

        <option value="4">
            PoS
        </option>
    </select>

    @if (Model.s2model.cerintaModel.D_tip2 == "obversei")
    {
        <div class="col-md-3"><span>Obversiune </span><br /><span aria-hidden="true">&mdash;&mdash;&mdash;&mdash;&mdash;&rsaquo;</span></div>
    }
    else
    {
        <div class="col-md-3"><span>Conversiune </span><br /><span aria-hidden="true">&mdash;&mdash;&mdash;&mdash;&mdash;&rsaquo;</span></div>
    }
    <select id="s2_d_conObv" class="col-md-2">
        <option value="0"></option>
        <option value="1">
            Se~P
        </option>

        <option value="2">
            Sa~P
        </option>

        <option value="3">
            So~P
        </option>

        <option value="4">
            Si~P
        </option>
    </select>
    <textarea placeholder="Conversiunea in limbaj natural" class="form-control" id="s2_dN_conv"></textarea>
    <textarea placeholder="Obversiunea in limbaj natural" class="form-control" id="s2_dN_obv"></textarea>
</div>
<div class="col-md-12">
    E:Doi elevi,X si Y, opiniaza astfel:<br />
    X:@Model.s2model.s2E.xRat <br />
    Y:@Model.s2model.s2E.yRat <br />
    Pornind de la aceasta situatie:<br />
    a. scrieti in limbaj formal, opiniile celor doi elevi;<br />
    b.precizati corectitudinea rationamentelor formalizate.
    c. explicați corectitudinea/incorectitudinea raționamentului elevului @Model.s2model.s2E.tipCerut .
    <br />
    a.<br />
    <div class="col-md-12 row">
        <div class="col-md-1 "> x:</div>
        <div class="col-md-1">
            <select id="s2_E_x">
                <option></option>
                <option value="1">
                    SaP
                </option>

                <option value="2">
                    SeP
                </option>

                <option value="3">
                    SoP
                </option>

                <option value="4">
                    SiP
                </option>
            </select>
        </div>
        <div class="col-md-2">
            <span>
                <select id="s2_e_a_x_convobv">
                    <option>conversiune</option>
                    <option>obversiune</option>
                </select>
            </span><br /><span aria-hidden="true">&mdash;&mdash;&mdash;&mdash;&mdash;&rsaquo;</span>
        </div>
        <div class="col-md-1">
            <select id="s2_e_a_x_rez">
                <option>PaS</option>
                <option>PeS</option>
                <option>Adauga restul!</option>
            </select>
        </div>
    </div>
    <br />
    <div class="col-md-12 row">
        <div class="col-md-1"> Y:</div>
        <div class="col-md-1">
            <select id="s2_E_y">
                <option></option>
                <option value="1">
                    SaP
                </option>

                <option value="2">
                    SeP
                </option>

                <option value="3">
                    SoP
                </option>

                <option value="4">
                    SiP
                </option>
            </select>
        </div>

        <div class="col-md-2">
            <span>
                <select id="s2_e_a_y_convobv">
                    <option>conversiune</option>
                    <option>obversiune</option>
                </select>
            </span><br /><span aria-hidden="true">&mdash;&mdash;&mdash;&mdash;&mdash;&rsaquo;</span>
        </div>
        <div class="col-md-1">
            <select id="s2_e_a_y_rez">
                <option>PaS</option>
                <option>PeS</option>
                <option>Adauga restul!</option>
            </select>
        </div>
    </div>
    <br />


    b:
    X rationeaza <select id="s2_e_b_x">
        <option></option>
        <option value="true">Corect</option>
        <option value="false">Gresit</option>
    </select> <br />
    Y rationeaza <select id="s2_e_b_y">
        <option></option>
        <option value="true">Corect</option>
        <option value="false">Gresit</option>
    </select> <br />
    @*
            X rationeaza <select id="s2_e_b_x_corect">
            <option></option>
            <option value="true">Corect</option>
            <option value="false">Gresit</option>
        </select>
        <select id="s2_e_b_x_convobv">
            <option ></option>
            <option value="1">convertind</option>
            <option value="2">obvertind</option>
        </select>
        un
        <select id="s2_e_b_x_form1">
            <option ></option>
            <option value="1">
                SaP
            </option>

            <option value="2">
                SeP
            </option>

            <option value="3">
                SoP
            </option>

            <option value="4">
                SiP
            </option>
        </select>
        in
        <select id="s2_e_b_x_form2">
            <option ></option>
            <option value="1">
                PaS
            </option>

            <option value="2">
                PeS
            </option>

            <option value="3">
                PoS
            </option>

            <option value="4">
                PiS
            </option>
        </select>
        , <select id="s2_e_b_x_respectand">
            <option></option>
            <option value="true">respectand</option>
            <option value="false">incalcand</option>
        </select>
        astfel legea distribuirii termenilor.
        <br />
    *@

    c:
    @Model.s2model.s2E.tipCerut rationeaza <select id="s2_e_b_y_corect">
        <option></option>
        <option value="true">Corect</option>
        <option value="false">Gresit</option>
    </select>
    <select id="s2_e_b_y_convobv">
        <option></option>
        <option value="1">convertind</option>
        <option value="2">obvertind</option>
    </select>
    un
    <select id="s2_e_b_y_form1">
        <option></option>
        <option value="1">
            SaP
        </option>

        <option value="2">
            SeP
        </option>

        <option value="3">
            SoP
        </option>

        <option value="4">
            SiP
        </option>
    </select>
    in
    <select id="s2_e_b_y_form2">
        <option></option>
        <option value="1">
            PaS
        </option>

        <option value="2">
            PeS
        </option>

        <option value="3">
            PoS
        </option>

        <option value="4">
            PiS
        </option>
    </select>
    , <select id="s2_e_b_y_respectand">
        <option></option>
        <option value="true">respectand</option>
        <option value="false">incalcand</option>
    </select>
    astfel legea distribuirii termenilor.
    <br />
</div>
<h3>Subiectul III</h3>
<div class="col-md-12 row">
    A: Fie urmatoarele moduri silogistice: @Model.s3model.s3silog1.maj@Model.s3model.s3silog1.min@Model.s3model.s3silog1.con-@Model.s3model.s3silog1.fig
    si @Model.s3model.s3silog2.maj@Model.s3model.s3silog2.min@Model.s3model.s3silog2.con-@Model.s3model.s3silog2.fig . <br />
    1:Scrieti schema de inferenta corespunzatoare fiecaruia dintre cele doua moduri silogistice date si construiti , in limbaj formal, un silogism
    care sa corespunda uneia dintre cele doua scheme de inferenta. <br />


    <style>
        .silS3 {
            width: 40px;
            display: inline;
        }
    </style>
    <br />
    1.1:@Model.s3model.s3silog1.maj@Model.s3model.s3silog1.min@Model.s3model.s3silog1.con-@Model.s3model.s3silog1.fig  <br />
    <div class="col-md-3">
        @* <input type="text" id="s3_A_1_1M1" class="silS3 form-control" /><input type="text" id="s3_A_1_1M2" class="silS3 form-control" /><input type="text" id="s3_A_1_1M3" class="silS3 form-control" />
        *@ <select id="s3_a_1_sil1F_maj_1">
            <option></option>
            <option>M</option>
            <option>P</option>
        </select>
        <select id="s3_a_1_sil1F_maj_2">
            <option></option>
            <option>a</option>
            <option>e</option>

            <option>i</option>
            <option>o</option>
        </select>
        <select id="s3_a_1_sil1F_maj_3">
            <option></option>
            <option>M</option>
            <option>P</option>
        </select>
        <br />
        @*  <input type="text" id="s3_A_1_1Min1" class="silS3 form-control" /><input type="text" id="s3_A_1_1Min2" class="silS3 form-control" /><input type="text" id="s3_A_1_1Min3" class="silS3 form-control" />
        *@<select id="s3_a_1_sil1F_min_1">
            <option></option>
            <option>M</option>
            <option>S</option>
        </select>
        <select id="s3_a_1_sil1F_min_2">
            <option></option>
            <option>a</option>
            <option>e</option>

            <option>i</option>
            <option>o</option>
        </select>
        <select id="s3_a_1_sil1F_min_3">
            <option></option>
            <option>M</option>
            <option>S</option>
        </select>
        <hr />
        @*  <input type="text" id="s3_A_1_1C1" class="silS3 form-control" /><input type="text" id="s3_A_1_1C2" class="silS3 form-control" /><input type="text" id="s3_A_1_C3" class="silS3 form-control" />
        *@ <select id="s3_a_1_sil1F_con_1">
            <option></option>
            <option>S</option>
            <option>P</option>
        </select>
        <select id="s3_a_1_sil1F_con_2">
            <option></option>
            <option>a</option>
            <option>e</option>

            <option>i</option>
            <option>o</option>
        </select>
        <select id="s3_a_1_sil1F_con_3">
            <option></option>
            <option>S</option>
            <option>P</option>
        </select>
    </div>
    <div class="col-md-9">
        <input type="text" placeholder="Premisa majora a silogismului" id="S3_A_NMaj" class="form-control" />
        <input type="text" placeholder="Premisa minora a silogismului" id="S3_A_NMin" class="form-control" />
        <hr />
        <input type="text" placeholder="Concluzia silogismului" id="S3_A_NCon" class="form-control" />
    </div><br />
    1.2:@Model.s3model.s3silog2.maj@Model.s3model.s3silog2.min@Model.s3model.s3silog2.con-@Model.s3model.s3silog2.fig  <br />
    <div class="col-md-3">
        <select id="s3_a_1_sil2F_maj_1">
            <option></option>
            <option>M</option>
            <option>P</option>
        </select>
        <select id="s3_a_1_sil2F_maj_2">
            <option></option>
            <option>a</option>
            <option>e</option>

            <option>i</option>
            <option>o</option>
        </select>
        <select id="s3_a_1_sil2F_maj_3">
            <option></option>
            <option>M</option>
            <option>P</option>
        </select>
        <br />
        <select id="s3_a_1_sil2F_min_1">
            <option></option>
            <option>M</option>
            <option>S</option>
        </select>
        <select id="s3_a_1_sil2F_min_2">
            <option></option>
            <option>a</option>
            <option>e</option>

            <option>i</option>
            <option>o</option>
        </select>
        <select id="s3_a_1_sil2F_min_3">
            <option></option>
            <option>M</option>
            <option>S</option>
        </select>
        <hr />
        <select id="s3_a_1_sil2F_con_1">
            <option></option>
            <option>S</option>
            <option>P</option>
        </select>
        <select id="s3_a_1_sil2F_con_2">
            <option></option>
            <option>a</option>
            <option>e</option>

            <option>i</option>
            <option>o</option>
        </select>
        <select id="s3_a_1_sil2F_con_3">
            <option></option>
            <option>S</option>
            <option>P</option>
        </select>
    </div>
    <div class="col-md-9">
        <input type="text" placeholder="Premisa majora a silogismului" id="S3_A_NMaj2" class="form-control" />
        <input type="text" placeholder="Premisa minora a silogismului" id="S3_A_NMin2" class="form-control" />
        <hr />
        <input type="text" placeholder="Concluzia silogismului" id="S3_A_NCon2" class="form-control" />
    </div><br />
    2:Verificati explicit,prin metoda diagramelor Venn, validitatea fiecaruia dintre cele doua moduri silogistice date, precizand totodata decizia la care ati ajuns.

    <div class="col-md-12 row">

        <div class="col-md-6" id="s3_venn1">
            @Html.Action("VennPartial", "evaluare", new { id = Model.s3model.s3silog1.fig, order = 1 })
            <select id="s3_a_2_venn_sil1_valid">
                <option value="null"></option>
                <option value="true">Valid</option>
                <option value="false">Invalid</option>

            </select>
        </div>
        <div class="col-md-6">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="40%" width="40%" viewBox="0 0 100 100" id="svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <style type="text/css">
                        path {
                            fill: transparent;
                            stroke: black;
                            stroke-width: 0.5;
                        }
                    </style>
                </defs>
                <path id="path1" d="M 50 8 A 30 30 0 1 0 21 59 30 30 0 0 1 41 36 30 30 0 0 1 50 8" style="fill:rgb(255, 255, 255)" />

                <path id="path2" d="M 50 8 A 30 30 0 0 0 41 36 30 30 0 0 1 59 36 30 30 0 0 0 50 8" style="fill:rgb(255, 255, 255)" />
                <path id="path3" d="M 50 8 A 30 30 0 1 1 79 59 30 30 0 0 0 59 36 30 30 0 0 0 50 8" style="fill:rgb(255, 255, 255)" />
                <path id="path4" d="M 50 52 A 30 30 0 0 1 21 59 30 30 0 0 1 41 36 30 30 0 0 0 50 52" style="fill:rgb(255, 255, 255)" />
                <path id="path5" d="M 50 52 A 30 30 0 0 1 41 36 30 30 0 0 1 59 36 30 30 0 0 1 50 52" style="fill:rgb(255, 255, 255)" />
                <path id="path6" d="M 50 52 A 30 30 0 0 0 79 59 30 30 0 0 0 59 36 30 30 0 0 1 50 52" style="fill:rgb(255, 255, 255)" />
                <path id="path7" d="M 21 59 A 30 30 0 1 0 79 59 30 30 0 0 1 50 52 30 30 0 0 1 21 59" style="fill:rgb(255, 255, 255)" />
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="25" style="display:none;" id="t1">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="70" style="display:none;" id="t2">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="75" x="45" style="display:none;" id="t3">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="55" x="35" style="display:none;" id="t4">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="55" x="60" style="display:none;" id="t5">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="46" x="46" style="display:none;" id="t6">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="46" style="display:none;" id="t7">X</text>
       
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="25" style="fill:red;" id="z1"> 1</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="70" style="fill:red;" id="z2"> 2</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="75" x="45" style="fill:red;" id="z3"> 3</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="55" x="35" style="fill:red;" id="z4"> 4</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="55" x="60" style="fill:red;" id="z5"> 5</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="46" x="46" style="fill:red;" id="z6"> 6</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="46" style="fill:red;" id="z7"> 7</text>
     </svg>
            @Html.Action("vennPartialConcluzie", "evaluare", new { sil = Model.s3model.s3silog1 })

        </div>

    </div>
    <div class="col-md-12 row">

        <div class="col-md-6" id="s3_venn2">
            @Html.Action("VennPartial", "evaluare", new { id = Model.s3model.s3silog2.fig, order = 2 })
            <select id="s3_a_2_venn_sil2_valid">
                <option value="null"></option>
                <option value="true">Valid</option>
                <option value="false">Invalid</option>

            </select>
        </div>
        <div class="col-md-6">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="40%" width="40%" viewBox="0 0 100 100" id="svg2" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <style type="text/css">
                        path {
                            fill: transparent;
                            stroke: black;
                            stroke-width: 0.5;
                        }
                    </style>
                </defs>
                <path id="path1_2" d="M 50 8 A 30 30 0 1 0 21 59 30 30 0 0 1 41 36 30 30 0 0 1 50 8" style="fill:rgb(255, 255, 255)" />
                <path id="path2_2" d="M 50 8 A 30 30 0 0 0 41 36 30 30 0 0 1 59 36 30 30 0 0 0 50 8" style="fill:rgb(255, 255, 255)" />
                <path id="path3_2" d="M 50 8 A 30 30 0 1 1 79 59 30 30 0 0 0 59 36 30 30 0 0 0 50 8" style="fill:rgb(255, 255, 255)" />
                <path id="path4_2" d="M 50 52 A 30 30 0 0 1 21 59 30 30 0 0 1 41 36 30 30 0 0 0 50 52" style="fill:rgb(255, 255, 255)" />
                <path id="path5_2" d="M 50 52 A 30 30 0 0 1 41 36 30 30 0 0 1 59 36 30 30 0 0 1 50 52" style="fill:rgb(255, 255, 255)" />
                <path id="path6_2" d="M 50 52 A 30 30 0 0 0 79 59 30 30 0 0 0 59 36 30 30 0 0 1 50 52" style="fill:rgb(255, 255, 255)" />
                <path id="path7_2" d="M 21 59 A 30 30 0 1 0 79 59 30 30 0 0 1 50 52 30 30 0 0 1 21 59" style="fill:rgb(255, 255, 255)" />
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="25" style="display:none;" id="t1_2">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="70" style="display:none;" id="t2_2">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="75" x="45" style="display:none;" id="t3_2">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="55" x="35" style="display:none;" id="t4_2">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="55" x="60" style="display:none;" id="t5_2">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="46" x="46" style="display:none;" id="t6_2">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="46" style="display:none;" id="t7_2">X</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="25" style="fill:red;" id="z1"> 1</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="70" style="fill:red;" id="z2"> 2</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="75" x="45" style="fill:red;" id="z3"> 3</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="55" x="35" style="fill:red;" id="z4"> 4</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="55" x="60" style="fill:red;" id="z5"> 5</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="46" x="46" style="fill:red;" id="z6"> 6</text>
                <text stroke="black" stroke-width=".06" fill="black" font-size="10" y="30" x="46" style="fill:red;" id="z7"> 7</text>

              </svg>
            @Html.Action("vennPartialConcluzie", "evaluare", new { sil = Model.s3model.s3silog1 })

        </div>

    </div>

</div>
<br />
<div class="col-md-12 row">

    B:Construiti atat in limbaj formal, cat si in limbaj natural un silogism valid prin care sa justificati propozitia:"@Model.s3model.cerintaModel.B_silog"

    <br />
  
    <div class="col-md-3">
        Limbaj formal <br />
        <select id="s3_b_maj_F_1">
            <option value="null"></option>
            <option value="M">M</option>
            <option value="P">P</option>

        </select>
        <select id="s3_b_maj_F_2">
            <option value="null"></option>
            <option value="a">a</option>
            <option value="e">e</option>
            <option value="i">i</option>
            <option value="o">o</option>

        </select>
        <select id="s3_b_maj_F_3">
            <option value="null"></option>
            <option value="M">M</option>
            <option value="P">P</option>
        </select>
        <br />
        <select id="s3_b_min_F_1">
            <option value="null"></option>
            <option value="M">M</option>
            <option value="S">S</option>

        </select>
        <select id="s3_b_min_F_2">
            <option value="null"></option>
            <option value="a">a</option>
            <option value="e">e</option>
            <option value="i">i</option>
            <option value="o">o</option>

        </select>
        <select id="s3_b_min_F_3">
            <option value="null"></option>
            <option value="M">M</option>
            <option value="S">S</option>
        </select>

        @*  <input type="text" class="form-control silS3" id="s3B_1maj_1" /><input type="text" class="form-control silS3" id="s3B_1maj_2" /><input type="text" class="form-control silS3" id="s3B_1maj_3" /> <br />
            <input type="text" class="form-control silS3" id="s3B_1min_1" /><input type="text" class="form-control silS3" id="s3B_1min_2" /><input type="text" class="form-control silS3" id="s3B_1min_3" />
        *@ <hr />
        <select id="s3_b_con_F_1">
            <option value="null"></option>
            <option value="S">S</option>
            <option value="P">P</option>

        </select>
        <select id="s3_b_con_F_2">
            <option value="null"></option>
            <option value="a">a</option>
            <option value="e">e</option>
            <option value="i">i</option>
            <option value="o">o</option>

        </select>
        <select id="s3_b_con_F_3">
            <option value="null"></option>
            <option value="S">S</option>
            <option value="P">P</option>
        </select>

    </div>
    <div class="col-md-9">
        Limbaj natural<br />
        <input class="form-control" type="text" id="s3B_1majNat" />
        <input class="form-control" type="text" id="s3B_1minNat" />
        <hr />
        @Model.s3model.cerintaModel.B_silog

    </div>

</div>

<div class="col-md-12">
    C:Fie urmatorul silogism:"@Model.s3model.s3c.silog" <br />

    a.Precizati termenul mediu al silogismului;<br />
    <input type="text" placeholder="Termenul mediu al silogismului" class="form-control" id="s3C_tMediu" />
    <br />
    b.Mentionati, in limbaj natural premisa minora a silogismului.
    <textarea placeholder="Premisa minora a silogismului" id="s3C_min" class="form-control"></textarea>
</div>
<div class="col-md-12">
    D:Fie urmatoarea definitie:"@Model.s3model.cerintaModel.D_def".
    <br />
    a.Precizati o regula de corectitudine pe care o incalca definitia data;
    <br />
    <textarea placeholder="Regula de corectitudine incalta de definitia de mai sus" class="form-control" id="s3D_a"></textarea>
    b.Numiti o alta regula de corectitudine a definirii, diferita de regula identificata la punctul a si construiti o definitie care sa o incalce,
    avand ca definit "@Model.s3model.cerintaModel.D_term"
    <br />
    <textarea placeholder="O alta definitie gresita a termenului cerut " class="form-control" id="s3D_b1"></textarea>
    <textarea placeholder="Regula definirii incalcata de definitia ceruta anterior" class="form-control" id="s3D_b2"></textarea>
</div>
<div id="temp" hidden>
    <div></div>
    <div></div>
</div>

@section Scripts{
    <script src="~/Scripts/js/fabric.js"></script>
    <script type="text/javascript">
        var canvasS1B1 = this.__canvas1B = new fabric.StaticCanvas('canvasS1B1');
        var canvasS1B2 = this.__canvas2B = new fabric.StaticCanvas('canvasS1B2');
        var canvasS1B3 = this.__canvas3B = new fabric.StaticCanvas('canvasS1B3');
        var canvasS1B4 = this.__canvas4B = new fabric.StaticCanvas('canvasS1B4');
        canvasS1B1.loadFromDatalessJSON(@Html.Raw(Json.Encode(Model.s1model.s1b1.svgObj1)))
        canvasS1B2.loadFromDatalessJSON(@Html.Raw(Json.Encode(Model.s1model.s1b1.svgObj2)))
        canvasS1B3.loadFromDatalessJSON(@Html.Raw(Json.Encode(Model.s1model.s1b1.svgObj3)))
        canvasS1B4.loadFromDatalessJSON(@Html.Raw(Json.Encode(Model.s1model.s1b1.svgObj4)))

    </script>

    <script type="text/javascript">
    var path1 = document.getElementById("path1");
    var path2 = document.getElementById("path2");
    var path3 = document.getElementById("path3");
    var path4 = document.getElementById("path4");
    var path5 = document.getElementById("path5");
    var path6 = document.getElementById("path6");
    var path7 = document.getElementById("path7");
    var t1 = document.getElementById("t1");
    var t2 = document.getElementById("t2");
    var t3 = document.getElementById("t3");
    var t4 = document.getElementById("t4");
    var t5 = document.getElementById("t5");
    var t6 = document.getElementById("t6");
    var t7 = document.getElementById("t7");


    function changeTargetElements(sil)
    {
        if (sil == 1) {
            path1 = document.getElementById("path1");
            path2 = document.getElementById("path2");
            path3 = document.getElementById("path3");
            path4 = document.getElementById("path4");
            path5 = document.getElementById("path5");
            path6 = document.getElementById("path6");
            path7 = document.getElementById("path7");
            t1 = document.getElementById("t1");
            t2 = document.getElementById("t2");
            t3 = document.getElementById("t3");
            t4 = document.getElementById("t4");
            t5 = document.getElementById("t5");
            t6 = document.getElementById("t6");
            t7 = document.getElementById("t7");
        }
        else {

            path1 = document.getElementById("path1_2");
            path2 = document.getElementById("path2_2");
            path3 = document.getElementById("path3_2");
            path4 = document.getElementById("path4_2");
            path5 = document.getElementById("path5_2");
            path6 = document.getElementById("path6_2");
            path7 = document.getElementById("path7_2");
            t1 = document.getElementById("t1_2");
            t2 = document.getElementById("t2_2");
            t3 = document.getElementById("t3_2");
            t4 = document.getElementById("t4_2");
            t5 = document.getElementById("t5_2");
            t6 = document.getElementById("t6_2");
            t7 = document.getElementById("t7_2");
        }

    }

    </script>
    <script type="text/javascript">
        function sendToVerify() {

            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "/evaluare/saveSolvedVar",
                data: {
                    "variantaID":@Html.Raw(Json.Encode(ViewBag.variantaID)),
                    "model.userId":@Html.Raw(Json.Encode(ViewBag.userName)),
                    "model.s1_1": $('input[name=optradio_0]:checked').attr("order"),
                    "model.s1_2": $('input[name=optradio_1]:checked').attr("order"),
                    "model.s1_3": $('input[name=optradio_2]:checked').attr("order"),
                    "model.s1_4": $('input[name=optradio_3]:checked').attr("order"),
                    "model.s1_5": $('input[name=optradio_4]:checked').attr("order"),
                    "model.s1_6": $('input[name=optradio_5]:checked').attr("order"),
                    "model.s1_7": $('input[name=optradio_6]:checked').attr("order"),
                    "model.s1_8": $('input[name=optradio_7]:checked').attr("order"),
                    "model.s1_9": $('input[name=optradio_8]:checked').attr("order"),
                    "model.s1_10": $('input[name=optradio_9]:checked').attr("order"),
                    "model.s1_bA": $('input[name=s1_bA]:checked').attr("order"),

                    "model.s1_b1": $('input[name=r1]:checked').val(),
                    "model.s1_b2": $('input[name=r2]:checked').val(),
                    "model.s1_b3": $('input[name=r3]:checked').val(),
                    "model.s1_b4": $('input[name=r4]:checked').val(),
                    "model.s1_b5": $('input[name=r5]:checked').val(),
                    "model.s1_b6": $('input[name=r6]:checked').val(),

                    "model.s2_a1":  $("#s2_a_sel1 option:selected").text(),
                    "model.s2_a2":  $("#s2_a_sel2 option:selected").text(),
                    "model.s2_b1F": $("#s2_b_sel1 option:selected").text(),
                    "model.s2_b2F": $("#s2_b_sel2 option:selected").text(),
                    "model.s2_b3F": $("#s2_b_sel3 option:selected").text(),
                    "model.s2_b4F": $("#s2_b_sel4 option:selected").text(),
                    "model.s2_b1N": $("#s2_b1N").val(),
                    "model.s2_b2N": $("#s2_b2N").val(),
                    "model.s2_b3N": $("#s2_b3N").val(),
                    "model.s2_b4N": $("#s2_b4N").val(),
                    "model.s2_c_pr1F":     $("#s2_c_sel1 option:selected").text(),
                    "model.s2_c_pr2F":     $("#s2_c_sel2 option:selected").text(),
                    "model.s2_c_pr3F":     $("#s2_c_sel3 option:selected").text(),
                    "model.s2_c_pr4F":     $("#s2_c_sel4 option:selected").text(),
                    "model.s2_c_pr1F_con": $("#s2_c_sel1_conv option:selected").text(),
                    "model.s2_c_pr3F_con": $("#s2_c_sel2_conv option:selected").text(),
                    "model.s2_c_pr2F_obv": $("#s2_c_sel1_obv option:selected").text(),
                    "model.s2_c_pr4F_obv": $("#s2_c_sel2_obv option:selected").text(),
                    "model.s2_c_pr1N_conv":$("#s2_c1NC").val(),
                    "model.s2_c_pr2N_obv": $("#s2_c1NO").val(),
                    "model.s2_c_pr3N_conv":$("#s2_c2NC").val(),
                    "model.s2_c_pr4N_obv": $("#s2_c3NO").val(),
                    "model.s2_d_prop":       $("#s2_d_prop option:selected").text(),
                    "model.s2_d_conv":        $("#s2_d_conv option:selected").text(),
                    "model.s2_d_obvConv":   $("#s2_d_conObv option:selected").text(),
                    "model.s2_d_convNat":    $("#s2_dN_conv").val(),
                    "model.s2_d_obvConvNat": $("#s2_dN_obv").val(),
                    "model.s2_e_a_x":        $("#s2_E_x option:selected").text(),
                    "model.s2_e_a_y":        $("#s2_E_y option:selected").text(),
                    "model.s2_e_a_x_convobv": $("#s2_e_a_x_convobv option:selected").text(),
                    "model.s2_e_a_x_rez":     $("#s2_e_a_x_rez option:selected").text(),
                    "model.s2_e_a_y_convobv": $("#s2_e_a_y_convobv option:selected").text(),
                    "model.s2_e_a_y_rez":     $("#s2_e_a_y_rez option:selected").text(),


                    "model.s2_e_b_x_corect":  $("#s2_e_b_x_corect option:selected").text(),
                    "model.s2_e_b_x_convobv": $("#s2_e_b_x_convobv option:selected").text(),
                    "model.s2_e_b_x_form1":   $("#s2_e_b_x_form1 option:selected").text(),
                    "model.s2_e_b_x_form2":   $("#s2_e_b_x_form2 option:selected").text(),
                    "model.s2_e_b_x_respectand": $("#s2_e_b_x_respectand option:selected").text(),

                    "model.s2_e_b_y_corect": $("#s2_e_b_y_corect option:selected").text(),
                    "model.s2_e_b_y_convobv": $("#s2_e_b_y_convobv option:selected").text(),
                    "model.s2_e_b_y_form1": $("#s2_e_b_y_form1 option:selected").text(),
                    "model.s2_e_b_y_form2": $("#s2_e_b_y_form2 option:selected").text(),
                    "model.s2_e_b_y_respectand": $("#s2_e_b_y_respectand option:selected").text(),

                    "model.s3_a_1_sil1F_maj": $("#s3_a_1_sil1F_maj_1").val() + $("#s3_a_1_sil1F_maj_2").val() + $("#s3_a_1_sil1F_maj_3").val(),
                    "model.s3_a_1_sil1F_min": $("#s3_a_1_sil1F_min_1").val() + $("#s3_a_1_sil1F_min_2").val() + $("#s3_a_1_sil1F_min_3").val(),
                    "model.s3_a_1_sil1F_con": $("#s3_a_1_sil1F_con_1").val() + $("#s3_a_1_sil1F_con_2").val() + $("#s3_a_1_sil1F_con_3").val(),
                    "model.s3_a_1_sil2F_maj": $("#s3_a_1_sil2F_maj_1").val() + $("#s3_a_1_sil2F_maj_2").val() + $("#s3_a_1_sil2F_maj_3").val(),
                    "model.s3_a_1_sil2F_min": $("#s3_a_1_sil2F_min_1").val() + $("#s3_a_1_sil2F_min_2").val() + $("#s3_a_1_sil2F_min_3").val(),
                    "model.s3_a_1_sil2F_con": $("#s3_a_1_sil2F_con_1").val() + $("#s3_a_1_sil2F_con_2").val() + $("#s3_a_1_sil2F_con_3").val(),
                    "model.s3_a_1_sil1N_maj": $("#S3_A_NMaj").val(),
                    "model.s3_a_1_sil1N_min": $("#S3_A_NMin").val(),
                    "model.s3_a_1_sil1N_con": $("#S3_A_NCon").val(),

                    "model.s3_a_1_sil2N_maj": $("#S3_A_NMaj2").val(),
                    "model.s3_a_1_sil2N_min": $("#S3_A_NMin2").val(),
                    "model.s3_a_1_sil2N_con": $("#S3_A_NCon2").val(),

                    "model.s3_a_2_venn_sil1":getSil1(),
                    //  "model.s3_a_2_venn_sil1_min": $(":radio[name='vennMin_1']").index($(":radio[name='vennMin_1']:checked")),
                    "model.s3_a_2_venn_sil1_valid": $("#s3_a_2_venn_sil1_valid").val(),
                    "model.s3_a_2_venn_sil2":getSil2(),
                    //    "model.s3_a_2_venn_sil2_min": $(":radio[name='vennMin_2']").index($(":radio[name='vennMin_2']:checked")),
                    "model.s3_a_2_venn_sil2_valid": $("#s3_a_2_venn_sil2_valid").val(),

                    "model.s3_b_maj_F": $("#s3_b_maj_F_1").val() + $("#s3_b_maj_F_2").val() + $("#s3_b_maj_F_3").val(),
                    "model.s3_b_min_F": $("#s3_b_min_F_1").val() + $("#s3_b_min_F_2").val() + $("#s3_b_min_F_3").val(),
                    "model.s3_b_con_F": $("#s3_b_con_F_1").val() + $("#s3_b_con_F_2").val() + $("#s3_b_con_F_3").val(),
                    //"model.s3_b_fig": $("#s3_b_fig").val(),
                    "model.s3_b_maj_N": $("#s3B_1majNat").val(),
                    "model.s3_b_min_N": $("#s3B_1minNat").val(),

                    "model.s3_c_term": $("#s3C_tMediu").val(),
                    "model.s3_c_premisa": $("#s3C_min").val(),

                    "model.s3_d_reg": $("#s3D_a").val(),
                    "model.s3_d_defGresita": $("#s3D_b1").val(),
                    "model.s3_d_reg2": $("#s3D_b2").val(),


                },
            }).done(function (data) {
                if (data.ok == true) {

                } else {
                    alert("Eroare la Adaugare!")
                }
            });

        }

        //function tryIt(id)
        //{

        //    $.ajax({
        //        async: false,
        //        cache: false,
        //        type: "POST",
        //        url: "/evaluare/getSolvedXml",
        //        data: {
        //            "id":id

        //        },
        //    }).done(function (data) {
        //        if (data.ok == true) {

        //        } else {
        //            alert("Eroare la Adaugare!")
        //        }
        //    });

        //}

        function getSil1(){
            var list= $( "#s3_venn1 input:checkbox" );
            var string ="";
            for (var i = 0; i < list.length; i++) {

                if(list[i].checked==true){
                    string+='<rez>'+i+"</rez>";
                }
            }
            return string;
        }
        function getSil2(){
            var list= $( "#s3_venn2 input:checkbox" );
            var string ="";
            for (var i = 0; i < list.length; i++) {

                if(list[i].checked==true){
                    string+='<rez>'+i+"</rez>";
                }
            }
            return string;
        }
    </script>

    <script type="text/javascript">
        var rezultateVarModel=@Html.Raw(Json.Encode(ViewBag.model));
      //  console.log(rezultateVarModel);
        var raspunsuri=@Html.Raw(Json.Encode(ViewBag.raspunsuriModel));
        var solvedVar=@Html.Raw(Json.Encode(ViewBag.varColor));


        var s1_raspunsuri=@Html.Raw(Json.Encode(Model.s1model.cerinte));
        //console.log(s1_raspunsuri);
        function colorEl(el,val){
            if(val==true){
                el.style.backgroundColor="yellowgreen";
            }
            else{
                el.style.backgroundColor="red";
            }
        }


        var r1=@Html.Raw(Json.Encode(Model.s1model.s1B.answer_r1));
        var r2=@Html.Raw(Json.Encode(Model.s1model.s1B.answer_r2));
        var r3=@Html.Raw(Json.Encode(Model.s1model.s1B.answer_r3));
        var r4=@Html.Raw(Json.Encode(Model.s1model.s1B.answer_r4));
        var r5=@Html.Raw(Json.Encode(Model.s1model.s1B.answer_r5));
        var r6=@Html.Raw(Json.Encode(Model.s1model.s1B.answer_r6));

        var s1_b1=@Html.Raw(Json.Encode(Model.s1model.s1b1.corect));
        //  console.log(s1_raspunsuri);
        fillResults();
      //  console.log(s1_b1);
        var s1_b1_list=document.getElementsByName('s1_bA');
        for (var i = 0; i < s1_b1_list.length; i++) {
    
            if(s1_b1_list[i].checked==true){
                if(s1_b1_list[i].getAttribute('order')==s1_b1){
                    s1_b1_list[i].parentNode.style.backgroundColor="yellowgreen";
                }else
                {
                    s1_b1_list[i].parentNode.style.backgroundColor="red";
                    s1_b1_list[s1_b1-1].parentNode.style.backgroundColor="green";
                }
            }
        }
        function colorEl(el,val){
            if(val==true){
                el.style.backgroundColor="yellowgreen";
            }
            else{
                el.style.backgroundColor="red";
            }
        }
        if(document.getElementsByName('r1')[0].checked==r1){
            document.getElementsByName('r1')[0].parentNode.style.backgroundColor="yellowgreen";

        }
        else{
            document.getElementsByName('r1')[0].parentNode.style.backgroundColor="red";

        }
        if(document.getElementsByName('r2')[0].checked==r2){
            document.getElementsByName('r2')[0].parentNode.style.backgroundColor="yellowgreen";

        }
        else{
            document.getElementsByName('r2')[0].parentNode.style.backgroundColor="red";

        }
        if(document.getElementsByName('r3')[0].checked==r3){
            document.getElementsByName('r3')[0].parentNode.style.backgroundColor="yellowgreen";

        }
        else{
            document.getElementsByName('r3')[0].parentNode.style.backgroundColor="red";

        }
        if(document.getElementsByName('r4')[0].checked==r4){
            document.getElementsByName('r4')[0].parentNode.style.backgroundColor="yellowgreen";

        }
        else{
            document.getElementsByName('r4')[0].parentNode.style.backgroundColor="red";

        }
        if(document.getElementsByName('r5')[0].checked==r5){
            document.getElementsByName('r5')[0].parentNode.style.backgroundColor="yellowgreen";

        }
        else{
            document.getElementsByName('r5')[0].parentNode.style.backgroundColor="red";

        }
        if(document.getElementsByName('r6')[0].checked==r6){
            document.getElementsByName('r6')[0].parentNode.style.backgroundColor="yellowgreen";

        }
        else{
            document.getElementsByName('r6')[0].parentNode.style.backgroundColor="red";

        }

        for (var i = 0; i < 10; i++) {

            var el=document.getElementsByName('optradio_'+i);
            if(el[el[0].value-1].checked==true){
              //  console.log(el[el[0].value-1]);
                el[el[0].value-1].parentNode.style.backgroundColor='yellowgreen';
            }
            else{

                el[el[0].value-1].parentNode.style.backgroundColor='green';
                if(el[0].checked==true){
                    el[0].parentNode.style.backgroundColor="red";
                }
                if(el[1].checked==true){
                    el[1].parentNode.style.backgroundColor="red";
                }
                if(el[2].checked==true){
                    el[2].parentNode.style.backgroundColor="red";
                }
                if(el[3].checked==true){
                    el[3].parentNode.backgroundColor="red";
                }
            }
        }


        colorEl(document.getElementById('s2_a_sel1'),solvedVar.s2_a[0]);
        colorEl(document.getElementById('s2_a_sel2'),solvedVar.s2_a[1]);

        colorEl(document.getElementById('s2_b_sel1'),solvedVar.s2_b[0]);
        colorEl(document.getElementById('s2_b_sel2'),solvedVar.s2_b[1]);
        colorEl(document.getElementById('s2_b_sel3'),solvedVar.s2_b[2]);
        colorEl(document.getElementById('s2_b_sel4'),solvedVar.s2_b[3]);
        colorEl(document.getElementById('s2_b1N'),solvedVar.s2_b[4]);
        colorEl(document.getElementById('s2_b2N'),solvedVar.s2_b[5]);
        colorEl(document.getElementById('s2_b3N'),solvedVar.s2_b[6]);
        colorEl(document.getElementById('s2_b4N'),solvedVar.s2_b[7]);

        colorEl(document.getElementById('s2_c_sel1'),solvedVar.s2_c[0]);
        colorEl(document.getElementById('s2_c_sel2'),solvedVar.s2_c[1]);
        colorEl(document.getElementById('s2_c_sel3'),solvedVar.s2_c[2]);
        colorEl(document.getElementById('s2_c_sel4'),solvedVar.s2_c[3]);
        colorEl(document.getElementById('s2_c_sel1_conv'),solvedVar.s2_c[4]);
        colorEl(document.getElementById('s2_c_sel2_conv'),solvedVar.s2_c[5]);
        colorEl(document.getElementById('s2_c_sel1_obv'),solvedVar.s2_c[6]);
        colorEl(document.getElementById('s2_c_sel2_obv'),solvedVar.s2_c[7]);
        colorEl(document.getElementById('s2_c1NC'),solvedVar.s2_c[8]);
        colorEl(document.getElementById('s2_c1NO'),solvedVar.s2_c[9]);
        colorEl(document.getElementById('s2_c2NC'),solvedVar.s2_c[10]);
        colorEl(document.getElementById('s2_c3NO'),solvedVar.s2_c[11]);

        colorEl(document.getElementById('s2_d_prop'),solvedVar.s2_d[0]);
        colorEl(document.getElementById('s2_d_conv'),solvedVar.s2_d[1]);
        colorEl(document.getElementById('s2_d_conObv'),solvedVar.s2_d[2]);
        colorEl(document.getElementById('s2_dN_conv'),solvedVar.s2_d[3]);
        colorEl(document.getElementById('s2_dN_obv'),solvedVar.s2_d[4]);

        colorEl(document.getElementById('s2_E_x'),solvedVar.s2_e[0]);
        colorEl(document.getElementById('s2_e_a_x_convobv'),solvedVar.s2_e[1]);
        //colorEl(document.getElementById('s2_E_y'),solvedVar.s2_e[1]);
        colorEl(document.getElementById('s2_e_a_x_rez'),solvedVar.s2_e[2]);
        colorEl(document.getElementById('s2_E_y'),solvedVar.s2_e[3]);
        colorEl(document.getElementById('s2_e_a_y_convobv'),solvedVar.s2_e[4]);
        colorEl(document.getElementById('s2_e_a_y_rez'),solvedVar.s2_e[5]);
        colorEl(document.getElementById('s2_e_b_x'),solvedVar.s2_e[6]);
        colorEl(document.getElementById('s2_e_b_y'),solvedVar.s2_e[7]);
        colorEl(document.getElementById('s2_e_b_y_corect'),solvedVar.s2_e[8]);
        colorEl(document.getElementById('s2_e_b_y_convobv'),solvedVar.s2_e[9]);
        colorEl(document.getElementById('s2_e_b_y_form1'),solvedVar.s2_e[10]);
        colorEl(document.getElementById('s2_e_b_y_form2'),solvedVar.s2_e[11]);
        colorEl(document.getElementById('s2_e_b_y_respectand'),solvedVar.s2_e[12]);


        colorEl(document.getElementById('s3_a_1_sil1F_maj_1'),solvedVar.s3_a[0]);
        colorEl(document.getElementById('s3_a_1_sil1F_maj_2'),solvedVar.s3_a[0]);
        colorEl(document.getElementById('s3_a_1_sil1F_maj_3'),solvedVar.s3_a[0]);

        colorEl(document.getElementById('s3_a_1_sil1F_min_1'),solvedVar.s3_a[1]);
        colorEl(document.getElementById('s3_a_1_sil1F_min_2'),solvedVar.s3_a[1]);
        colorEl(document.getElementById('s3_a_1_sil1F_min_3'),solvedVar.s3_a[1]);

        colorEl(document.getElementById('s3_a_1_sil1F_con_1'),solvedVar.s3_a[2]);
        colorEl(document.getElementById('s3_a_1_sil1F_con_2'),solvedVar.s3_a[2]);
        colorEl(document.getElementById('s3_a_1_sil1F_con_3'),solvedVar.s3_a[2]);

        colorEl(document.getElementById('s3_a_1_sil2F_maj_1'),solvedVar.s3_a[3]);
        colorEl(document.getElementById('s3_a_1_sil2F_maj_2'),solvedVar.s3_a[3]);
        colorEl(document.getElementById('s3_a_1_sil2F_maj_3'),solvedVar.s3_a[3]);

        colorEl(document.getElementById('s3_a_1_sil2F_min_1'),solvedVar.s3_a[4]);
        colorEl(document.getElementById('s3_a_1_sil2F_min_2'),solvedVar.s3_a[4]);
        colorEl(document.getElementById('s3_a_1_sil2F_min_3'),solvedVar.s3_a[4]);

        colorEl(document.getElementById('s3_a_1_sil2F_con_1'),solvedVar.s3_a[5]);
        colorEl(document.getElementById('s3_a_1_sil2F_con_2'),solvedVar.s3_a[5]);
        colorEl(document.getElementById('s3_a_1_sil2F_con_3'),solvedVar.s3_a[5]);

        colorEl(document.getElementById('s3_a_2_venn_sil1_valid'),solvedVar.s3_a[6]);
        colorEl(document.getElementById('s3_a_2_venn_sil2_valid'),solvedVar.s3_a[7]);


        colorEl(document.getElementById('S3_A_NMaj'),solvedVar.s3_a[8]);
        colorEl(document.getElementById('S3_A_NMin'),solvedVar.s3_a[8]);
        colorEl(document.getElementById('S3_A_NCon'),solvedVar.s3_a[8]);

        colorEl(document.getElementById('S3_A_NMaj2'),solvedVar.s3_a[8]);
        colorEl(document.getElementById('S3_A_NMin2'),solvedVar.s3_a[8]);
        colorEl(document.getElementById('S3_A_NCon2'),solvedVar.s3_a[8]);
        var venn_1Box=$('#s3_venn1 input');
        for (var j = 0; j < solvedVar.s3_a_venn[0].length; j++) {
            if(venn_1Box[solvedVar.s3_a_venn[0][j]].checked==true){
              colorEl(venn_1Box[solvedVar.s3_a_venn[0][j]].parentNode,true);
            console.log(venn_1Box[solvedVar.s3_a_venn[0][j]].checked)
            }
            else{
                venn_1Box[solvedVar.s3_a_venn[0][j]].parentNode.style.backgroundColor='green';
            }

        }
        for (var j = 0; j < venn_1Box.length; j++) {
    
            if(venn_1Box[j].checked==true && venn_1Box[j].parentNode.style.backgroundColor=="" )
            {
                colorEl(venn_1Box[j].parentNode,false);
            }
        }
        venn_1Box=document.getElementById('s3_venn2').getElementsByTagName('input');

        for (var j = 0; j < solvedVar.s3_a_venn[1].length; j++) {
            if(venn_1Box[solvedVar.s3_a_venn[1][j]].checked==true){
                colorEl(venn_1Box[solvedVar.s3_a_venn[1][j]].parentNode,true);
              //  console.log(venn_1Box[solvedVar.s3_a_venn[1][j]].checked)
            }
            else
            {
                venn_1Box[solvedVar.s3_a_venn[1][j]].parentNode.style.backgroundColor='green';
            }

        }
        for (var j = 0; j < venn_1Box.length; j++) {
    
            if(venn_1Box[j].checked==true && venn_1Box[j].parentNode.style.backgroundColor=="" )
            {
                colorEl(venn_1Box[j].parentNode,false);
            }
            }

        colorEl(document.getElementById('s3_b_maj_F_1'),solvedVar.s3_b[0]);
        colorEl(document.getElementById('s3_b_maj_F_2'),solvedVar.s3_b[0]);
        colorEl(document.getElementById('s3_b_maj_F_3'),solvedVar.s3_b[0]);
        colorEl(document.getElementById('s3_b_min_F_1'),solvedVar.s3_b[0]);
        colorEl(document.getElementById('s3_b_min_F_2'),solvedVar.s3_b[0]);
        colorEl(document.getElementById('s3_b_min_F_3'),solvedVar.s3_b[0]);
        colorEl(document.getElementById('s3_b_con_F_1'),solvedVar.s3_b[0]);
        colorEl(document.getElementById('s3_b_con_F_2'),solvedVar.s3_b[0]);
        colorEl(document.getElementById('s3_b_con_F_3'),solvedVar.s3_b[0]);
        colorEl(document.getElementById('s3B_1majNat'),solvedVar.s3_b[1]);
        colorEl(document.getElementById('s3B_1minNat'),solvedVar.s3_b[1]);



        colorEl(document.getElementById('s3C_tMediu'),solvedVar.s3_c[0]);
        colorEl(document.getElementById('s3C_min'),solvedVar.s3_c[1]);

        colorEl(document.getElementById('s3D_a'),solvedVar.s3_d[0]);
        colorEl(document.getElementById('s3D_b1'),solvedVar.s3_d[1]);
        colorEl(document.getElementById('s3D_b2'),solvedVar.s3_d[2]);


        //        console.log(raspunsuri);
     
        function fillResults(){
            document.getElementById('temp').getElementsByTagName('div')[0].innerHTML=raspunsuri.s3_a_2_venn_sil1;
            document.getElementById('temp').getElementsByTagName('div')[1].innerHTML=raspunsuri.s3_a_2_venn_sil2;
            for (var i = 0; i < 10; i++) {
                var opt1=document.getElementsByName('optradio_'+i);
                var index=eval('raspunsuri.s1_'+(i+1));
      
                opt1[index-1].checked=true;
            }
            if(raspunsuri.s1_b1==true){
                document.getElementsByName('r1')[0].checked=true;
            }
            else{
                document.getElementsByName('r1')[1].checked=true;

            }
            if(raspunsuri.s1_b2==true){
                document.getElementsByName('r2')[0].checked=true;
            }
            else{
                document.getElementsByName('r2')[1].checked=true;

            }
            if(raspunsuri.s1_b3==true){
                document.getElementsByName('r3')[0].checked=true;
            }
            else{
                document.getElementsByName('r3')[1].checked=true;

            }
            if(raspunsuri.s1_b4==true){
                document.getElementsByName('r4')[0].checked=true;
            }
            else{
                document.getElementsByName('r4')[1].checked=true;

            }
            if(raspunsuri.s1_b5==true){
                document.getElementsByName('r5')[0].checked=true;
            }
            else{
                document.getElementsByName('r5')[1].checked=true;

            }
            if(raspunsuri.s1_b6==true){
                document.getElementsByName('r6')[0].checked=true;
            }
            else{
                document.getElementsByName('r6')[1].checked=true;

            }
            document.getElementsByName('s1_bA')[raspunsuri.s1_bA-1].checked=true;

            $("#s2_a_sel1 option:selected").text(raspunsuri.s2_a1)
            $("#s2_a_sel2 option:selected").text(raspunsuri.s2_a2)
            $("#s2_b_sel1 option:selected").text(raspunsuri.s2_b1F)
            $("#s2_b_sel2 option:selected").text(raspunsuri.s2_b2F)
            $("#s2_b_sel3 option:selected").text(raspunsuri.s2_b3F)
            $("#s2_b_sel4 option:selected").text(raspunsuri.s2_b4F)
            $("#s2_b1N").val(raspunsuri.s2_b1N)
            $("#s2_b2N").val(raspunsuri.s2_b2N)
            $("#s2_b3N").val(raspunsuri.s2_b3N)
            $("#s2_b4N").val(raspunsuri.s2_b4N)
            $("#s2_c_sel1 option:selected").text(raspunsuri.s2_c_pr1F),
            $("#s2_c_sel2 option:selected").text(raspunsuri.s2_c_pr2F),
            $("#s2_c_sel3 option:selected").text(raspunsuri.s2_c_pr3F),
            $("#s2_c_sel4 option:selected").text(raspunsuri.s2_c_pr4F),
            $("#s2_c_sel1_conv option:selected").text(raspunsuri.s2_c_pr1F_con)
            $("#s2_c_sel2_conv option:selected").text(raspunsuri.s2_c_pr2F_obv)
            $("#s2_c_sel1_obv option:selected").text(raspunsuri.s2_c_pr3F_con)
            $("#s2_c_sel2_obv option:selected").text(raspunsuri.s2_c_pr4F_obv)
            $("#s2_c1NC").val(raspunsuri.s2_c_pr1N_conv)
            $("#s2_c1NO").val(raspunsuri.s2_c_pr2N_obv)
            $("#s2_c2NC").val(raspunsuri.s2_c_pr3N_conv)
            $("#s2_c3NO").val(raspunsuri.s2_c_pr4N_obv)

            $("#s2_d_prop option:selected").text(raspunsuri.s2_d_prop)
            $("#s2_d_conv option:selected").text(raspunsuri.s2_d_conv)
            $("#s2_d_conObv option:selected").text(raspunsuri.s2_d_obvConv)
            $("#s2_dN_conv").val(raspunsuri.s2_d_convNat)
            $("#s2_dN_obv").val(raspunsuri.s2_d_obvConvNat)

            $("#s2_E_x option:selected").text(raspunsuri.s2_e_a_x)
            $("#s2_E_y option:selected").text(raspunsuri.s2_e_a_y)
            $("#s2_e_a_x_convobv option:selected").text(raspunsuri.s2_e_a_x_convobv)
            $("#s2_e_a_x_rez option:selected").text(raspunsuri.s2_e_a_x_rez)
            $("#s2_e_a_y_convobv option:selected").text(raspunsuri.s2_e_a_y_convobv)
            $("#s2_e_a_y_rez option:selected").text(raspunsuri.s2_e_a_y_rez)


            //$("#s2_e_b_x_corect option:selected").text(raspunsuri.s2_e_b_x_corect)
            //$("#s2_e_b_x_convobv option:selected").text(raspunsuri.s2_e_b_x_convobv)
            //$("#s2_e_b_x_form1 option:selected").text(raspunsuri.s2_e_b_x_form1)
            //$("#s2_e_b_x_form2 option:selected").text(raspunsuri.s2_e_b_x_form2)
            //$("#s2_e_b_x_respectand option:selected").text(raspunsuri.s2_e_b_x_respectand)
            
            $("#s2_e_b_x option:selected").text(raspunsuri.s2_e_b_x)
            $("#s2_e_b_y option:selected").text(raspunsuri.s2_e_b_y)

            $("#s2_e_b_y_corect option:selected").text(raspunsuri.s2_e_b_y_corect)
            $("#s2_e_b_y_convobv option:selected").text(raspunsuri.s2_e_b_y_convobv)
            $("#s2_e_b_y_form1 option:selected").text(raspunsuri.s2_e_b_y_form1)
            $("#s2_e_b_y_form2 option:selected").text(raspunsuri.s2_e_b_y_form2)
            $("#s2_e_b_y_respectand option:selected").text(raspunsuri.s2_e_b_y_respectand)

            $("#s3_a_1_sil1F_maj_1").val(raspunsuri.s3_a_1_sil1F_maj.charAt(0))
            $("#s3_a_1_sil1F_maj_2").val(raspunsuri.s3_a_1_sil1F_maj.charAt(1))
            $("#s3_a_1_sil1F_maj_3").val(raspunsuri.s3_a_1_sil1F_maj.charAt(2))
            $("#s3_a_1_sil1F_min_1").val(raspunsuri.s3_a_1_sil1F_min.charAt(0))
            $("#s3_a_1_sil1F_min_2").val(raspunsuri.s3_a_1_sil1F_min.charAt(1))
            $("#s3_a_1_sil1F_min_3").val(raspunsuri.s3_a_1_sil1F_min.charAt(2))
            $("#s3_a_1_sil1F_con_1").val(raspunsuri.s3_a_1_sil1F_con.charAt(0))
            $("#s3_a_1_sil1F_con_2").val(raspunsuri.s3_a_1_sil1F_con.charAt(1))
            $("#s3_a_1_sil1F_con_3").val(raspunsuri.s3_a_1_sil1F_con.charAt(2))

            $("#s3_a_1_sil2F_maj_1").val(raspunsuri.s3_a_1_sil2F_maj.charAt(0))
            $("#s3_a_1_sil2F_maj_2").val(raspunsuri.s3_a_1_sil2F_maj.charAt(1))
            $("#s3_a_1_sil2F_maj_3").val(raspunsuri.s3_a_1_sil2F_maj.charAt(2))
            $("#s3_a_1_sil2F_min_1").val(raspunsuri.s3_a_1_sil2F_min.charAt(0))
            $("#s3_a_1_sil2F_min_2").val(raspunsuri.s3_a_1_sil2F_min.charAt(1))
            $("#s3_a_1_sil2F_min_3").val(raspunsuri.s3_a_1_sil2F_min.charAt(2))
            $("#s3_a_1_sil2F_con_1").val(raspunsuri.s3_a_1_sil2F_con.charAt(0))
            $("#s3_a_1_sil2F_con_2").val(raspunsuri.s3_a_1_sil2F_con.charAt(1))
            $("#s3_a_1_sil2F_con_3").val(raspunsuri.s3_a_1_sil2F_con.charAt(2))

            $("#S3_A_NMaj").val(raspunsuri.s3_a_1_sil1N_maj)
            $("#S3_A_NMin").val(raspunsuri.s3_a_1_sil1N_min)
            $("#S3_A_NCon").val(raspunsuri.s3_a_1_sil1N_con)

            $("#S3_A_NMaj2").val(raspunsuri.s3_a_1_sil2N_maj)
            $("#S3_A_NMin2").val(raspunsuri.s3_a_1_sil2N_min)
            $("#S3_A_NCon2").val(raspunsuri.s3_a_1_sil2N_con)
            var sil1Nodes=document.getElementById('temp').getElementsByTagName('div')[0].getElementsByTagName('rez');
            var sil2Nodes=document.getElementById('temp').getElementsByTagName('div')[1].getElementsByTagName('rez');
            for (var i = 0; i < sil1Nodes.length;i++) {
                $( "#s3_venn1 input:checkbox" )[parseInt(sil1Nodes[i].innerText)].click();
                //  console.log(sil1Nodes[i].innerText)

            }
            for (var i = 0; i < sil2Nodes.length;i++) {
                $( "#s3_venn2 input:checkbox" )[parseInt(sil2Nodes[i].innerText)].click();
                //console.log(sil1Nodes[i].innerText)

            }

            if(raspunsuri.s3_a_2_venn_sil1_valid==true){

                $("#s3_a_2_venn_sil1_valid option:selected").text('Valid')

            }
            else{

                $("#s3_a_2_venn_sil1_valid option:selected").text('Invalid')

            }
            if(raspunsuri.s3_a_2_venn_sil2_valid==true){

                $("#s3_a_2_venn_sil2_valid option:selected").text('Valid')

            }
            else
            {

                $("#s3_a_2_venn_sil2_valid option:selected").text('Invalid')

            }



            $("#s3_b_maj_F_1").val(raspunsuri.s3_b_maj_F.charAt(0))
            $("#s3_b_maj_F_2").val(raspunsuri.s3_b_maj_F.charAt(1))
            $("#s3_b_maj_F_3").val(raspunsuri.s3_b_maj_F.charAt(2))
            $("#s3_b_min_F_1").val(raspunsuri.s3_b_min_F.charAt(0))
            $("#s3_b_min_F_2").val(raspunsuri.s3_b_min_F.charAt(1))
            $("#s3_b_min_F_3").val(raspunsuri.s3_b_min_F.charAt(2))
            $("#s3_b_con_F_1").val(raspunsuri.s3_b_con_F.charAt(0))
            $("#s3_b_con_F_2").val(raspunsuri.s3_b_con_F.charAt(1))
            $("#s3_b_con_F_3").val(raspunsuri.s3_b_con_F.charAt(2))

            $("#s3B_1majNat").val(raspunsuri.s3_b_maj_N)
            $("#s3B_1minNat").val(raspunsuri.s3_b_min_N)
            $("#s3C_tMediu").val(raspunsuri.s3_c_term)
            $("#s3C_min").val(raspunsuri.s3_c_premisa)

            $("#s3D_a").val(raspunsuri.s3_d_reg)
            $("#s3D_b2").val(raspunsuri.s3_d_reg2)
            $("#s3D_b1").val(raspunsuri.s3_d_defGresita)

            var listaInputs=document.getElementsByTagName('input');
            for (var i = 0; i < listaInputs.length; i++) {
                listaInputs[i].disabled=true;
            }
            var listaTextarea=document.getElementsByTagName('textarea');
            for (var i = 0; i < listaTextarea.length; i++) {
                listaTextarea[i].disabled=true;
            }
            var listSelect=document.getElementsByTagName('select');
            for (var i = 0; i < listSelect.length; i++) {
                listSelect[i].disabled=true;
            }

        }

    </script>

    
}