﻿@model List<logica.Models.s1Cerinta>
@{
    ViewBag.Title = "rezolvaSesiuneBlitz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>rezolvaSesiuneBlitz</h2>
<form action="javascript:solve(@ViewBag.sesID);" class="row">
    @for (int i = 0; i < Model.Count(); i++)
    {
        <div class="col-md-6 answers">
            <div class="row">
                @(i + 1). @Model[i].cerinta
            </div>
            <div class="row">
                a) @Model[i].r1
            </div>
            <div class="row">
                b) @Model[i].r2
            </div>
            <div class="row">
                c) @Model[i].r3
            </div>
            <div class="row">
                d) @Model[i].r4
            </div>
        </div> <br />

    }

</form>
@using (Html.BeginForm("varianteBlitzDisponibile", "s1_a", FormMethod.Get))
{


    <button class="btn glyphicon glyphicon-ok-sign" type="submit" id="returnBtn" style="display:none">Intoarce-te la pagina cu variante</button>
}
<script type="text/javascript">
    document.getElementsByClassName('jumbotron')[0].style.display = "none";

    document.getElementsByClassName('navbar')[0].style.display = "none";
</script>