﻿@model List<logica.Models.variantaFinala>
@{
    ViewBag.Title = "listaVarianteFinale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>listaVarianteFinale</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nume varianta</th>
            <th>Data creare</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.id
                </td>
                <td>
                    @item.finalVarName
                </td>
                <td>
                    @item.createTime
                </td>
                <td>
                    <a class="btn btn-primary glyphicon glyphicon-pencil" href="/evaluare/testareFull/@item.id">Vizualizeaza varianta</a>
                </td>
                <td>
                    @Html.Action("partialVariantaCorectata", new { varId = item.id })
            </td>
            <td>
                <a class="btn btn-danger glyphicon glyphicon-user" href="/Profesor/asignareVariantaElev?varId=@item.id">Modifica permisiuni varianta</a>
            </td>
                <td>
                  <a href="/Profesor/pdf?id=@item.id" class="btn btn-xs btn-success glyphicon glyphicon-print">Pdf</a>
                </td>

        </tr>

        }
    </tbody>
</table>

<script type="text/javascript">
    function markCorect(id) {
        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/Profesor/marcheazaCorectat",
            data: {
                'varId': id

            },
        }).done(function (data) {
            if (data != false) {
                location.reload(true);
            } else {
                alert("Eroare!")
            }
        });
    }
</script>