﻿@model logica.Models.finalVarViewModel
@{
    ViewBag.Title = "pdfVar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style >
    #content{
        font-size:larger;

    }
    #content > h4 {
        font-size:x-large;
    }
</style>
<div id="content">
<h4 style="text-align:center">
    Examenul de bacalaureat național 2018 <br /> Proba E. d)  <br />
    Logică, argumentare și comunicare <br />
</h4>
<p style="float:right">Model</p> <br />
<p> Profilul umanist din filiera teoretică, profilul servicii din filiera tehnologică şi toate profilurile şi specializările din filiera vocaţională, cu excepţia profilului militar </p>
<br/>
<p>• Toate subiectele sunt obligatorii. Se acordă 10 puncte din oficiu. <br/>• Timpul de lucru efectiv este de 3 ore. </p>
<br/>
<p><span style="float:left">SUBIECTUL I</span>
    <span style="float:right">(30 de puncte)</span></p>
<hr/>
<p>A. Scrieţi pe foaia de examen litera corespunzătoare răspunsului corect, pentru fiecare dintre enunțurile de mai jos. Este corectă o singură variantă de răspuns.</p>
@for (int i = 0; i < Model.s1model.cerinte.Count(); i++)
{
    <div class="col-md-12 answers">
        <div class="row">
            @(i + 1).       @Model.s1model.cerinte[i].cerinta
        </div>
        <div class="row">
    a) @Model.s1model.cerinte[i].r1
        </div>
        <div class="row">
            b) @Model.s1model.cerinte[i].r2
        </div>
        <div class="row">
              c) @Model.s1model.cerinte[i].r3
        </div>
        <div class="row">
         d) @Model.s1model.cerinte[i].r4
        </div>
    </div> <br />

}
<span style="float:right">20 de puncte </span>
<p>B. @Model.s1model.s1B.cerinta <br />
    1. Reprezentaţi, prin metoda diagramelor Euler, pe o diagramă comună, raporturile logice dintre cei patru termeni.<span style="float:right">4 puncte </span> <br />
    2. Stabiliţi, pe baza raporturilor existente între termenii A, B, C, D, care dintre următoarele propoziţii sunt adevărate şi care sunt false (notaţi propoziţiile adevărate cu litera A, iar propoziţiile false cu litera F): 
<br />
    <div class="row">
        a) @Model.s1model.s1B.r1 

    </div>

    <div class="row">
        b) @Model.s1model.s1B.r2  
       </div>

    <div class="row">
        c) @Model.s1model.s1B.r3 
    </div>
    <div class="row">
        d) @Model.s1model.s1B.r4 
    </div>
    <div class="row">
        e) @Model.s1model.s1B.r5 
    </div>
    <div class="row">
        f) @Model.s1model.s1B.r6  
    </div>
    <span style="float:right">6 puncte </span>
    </p><br />
<p>
    <span style="float:left">SUBIECTUL II</span>
    <span style="float:right">(30 de puncte)</span>
</p>
<hr />
<p>
    Se dau următoarele propoziţii:<br />
    1.   @Html.DisplayFor(model => model.s2model.s2PropList[0].prop) <br />
    2.   @Html.DisplayFor(model => model.s2model.s2PropList[1].prop)<br />
    3.   @Html.DisplayFor(model => model.s2model.s2PropList[2].prop)<br />
    4.   @Html.DisplayFor(model => model.s2model.s2PropList[3].prop)<br />
</p><br />
<p>
    A. Precizaţi formulele logice corespunzătoare propoziţiilor @Model.s2model.cerintaModel.A_1 și @Model.s2model.cerintaModel.A_2.
    <span style="float:right">2 puncte </span> 
</p> <br />
<p>
    B. Construiti, atat in limbaj formal, cat si in limabj natural, @Model.s2model.cerintaModel.b_type1 propozitiei @Model.s2model.cerintaModel.b_prop1 ,
    @Model.s2model.cerintaModel.b_type2 propozitiei @Model.s2model.cerintaModel.b_prop2 ,@Model.s2model.cerintaModel.b_type3 propozitiei @Model.s2model.cerintaModel.b_prop3,
    si @Model.s2model.cerintaModel.b_type4 propozitiei @Model.s2model.cerintaModel.b_prop4 . <span style="float:right">8 puncte </span> <br />
</p>
<p>
    C. Aplicati explicit operatiile de conversiune si observiune pentru a deriva conversa si observa corecte fiecareia dintre propozitiile
    @Model.s2model.cerintaModel.C_1 si @Model.s2model.cerintaModel.C_2 , atat in limbaj formal, cat si in limbaj natural.
    <span style="float:right">8 puncte </span>
       <br />
</p> <br />
<p>
    D. Construiti atat in limbaj formal cat si in limbaj natural @Model.s2model.cerintaModel.D_tip1 @Model.s2model.cerintaModel.D_tip2 propozitiei @Model.s2model.cerintaModel.D_prop .
    <span style="float:right">4 puncte </span>
      <br />
</p>
<p>
    E.  Doi elevi, X si Y, opiniaza astfel:<br />
    X:@Model.s2model.s2E.xRat <br />
    Y:@Model.s2model.s2E.yRat <br />
    Pornind de la aceasta situatie:<br />
    a. scrieti in limbaj formal, opiniile celor doi elevi; <span style="float:right">4 puncte </span><br />
    b.precizati corectitudinea rationamentelor formalizate; <span style="float:right">2 puncte </span><br />
    c. explicați corectitudinea/incorectitudinea raționamentului elevului @Model.s2model.s2E.tipCerut .<span style="float:right">2 puncte </span>
    <br />
</p>
<p>
    <span style="float:left">SUBIECTUL II</span>
    <span style="float:right">(30 de puncte)</span>
</p>
<br />

<p>
    A: Fie urmatoarele moduri silogistice: @Model.s3model.s3silog1.maj@Model.s3model.s3silog1.min@Model.s3model.s3silog1.con-@Model.s3model.s3silog1.fig
    si @Model.s3model.s3silog2.maj@Model.s3model.s3silog2.min@Model.s3model.s3silog2.con-@Model.s3model.s3silog2.fig . <br />
    1:Scrieti schema de inferenta corespunzatoare fiecaruia dintre cele doua moduri silogistice date si construiti , in limbaj formal, un silogism
    care sa corespunda uneia dintre cele doua scheme de inferenta.<span style="float:right">8 puncte </span> <br />
    2.  Verificaţi explicit, prin metoda diagramelor Venn, validitatea fiecăruia dintre cele două moduri silogistice date, precizând totodată decizia la care aţi ajuns.
    <span style="float:right">6 puncte </span>
<br />
</p>
<p>
    B:Construiti atat in limbaj formal, cat si in limbaj natural un silogism valid prin care sa justificati propozitia:"@Model.s3model.cerintaModel.B_silog"
    <span style="float:right">6 puncte </span>
    <br />
</p>
<p>
    C:Fie urmatorul silogism:"@Model.s3model.s3c.silog" <br />

    a.Precizati @Model.s3model.s3c.tMediu al silogismului;<span style="float:right">2 puncte </span>
    <br />
    b.Mentionati, in limbaj natural @Model.s3model.s3c.pMin silogismului.<span style="float:right">2 puncte </span>
    <br />
</p>
<p>
    D:Fie urmatoarea definitie:"@Model.s3model.cerintaModel.D_def".
    <br />
    a.Precizati o regula de corectitudine pe care o incalca definitia data;<span style="float:right">2 puncte </span>
    <br />
    b.Numiti o alta regula de corectitudine a definirii, diferita de regula identificata la punctul a si construiti o definitie care sa o incalce,
    avand ca definit "@Model.s3model.cerintaModel.D_term" <span style="float:right">4 puncte </span>
    <br />
</p>
</div>
<div id="editor"></div>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>

    <script type="text/javascript">
        document.getElementsByClassName('jumbotron')[0].style.display = "none";

        document.getElementsByClassName('navbar')[0].style.display = "none";
        function pdf() {
      
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "/Profesor/pdf",
                data: {
                  
                },
            }).done(function (data) {
                
            });
        }

    </script> 
    
