﻿@model List<logica.Models.s1_a_deschise>
@{
    ViewBag.Title = "varianteBlitzDisponibile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>varianteBlitzDisponibile</h2>

<table>
    <thead>
        <tr>
            <th>
                Nume varianta
            </th>
            <th>Data creare</th>
            <th></th>
            <th>Indisponibila</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
        <tr @if (Model[i].indisponibil==false) {
            <text> style="background-color:yellowgreen"
</text> }
        else
        {
        <text>
 style="background-color:grey"
        </text>
    }
    >
    <td>@Model[i].nume</td>

                <td>@Model[i].createDate</td>
                <td><a class="btn btn-success glyphicon glyphicon-eye-open" href="/s1_a/rezolvaSesiuneBlitz?sesId=@Model[i].ID">Vizualizeaza</a></td>
                <td>
                    <span>@Model[i].indisponibil</span>
                    <button type="button" class="btn btn-warning glyphicon glyphicon-edit" onclick="changeStatus('@Model[i].ID',this)">Modifica stare</button>

                </td>
            <td>
                <a href="/Profesor/pdfBlitz?id=@Model[i].ID" class="btn btn-xs btn-success glyphicon glyphicon-print">PDF</a>
            </td>
            </tr>
}
    </tbody>
</table>

<script type="text/javascript">
    function changeStatus(id,el)
    {
        $.ajax({
            async: false,
            cache: false,
            type: "GET",
            url: "/s1_a/seteazaStareVarianta",
            data: {'id':id
            },
        }).done(function (data) {
            if (data.ok == true) {
                if(data.status==true){
                    el.parentNode.parentNode.style.backgroundColor = 'grey';
                }
                else{
                    el.parentNode.parentNode.style.backgroundColor='yellowgreen';
                }
               // alert("Schimbarea s-a efectuat cu succes!")
            } else {
                alert("Eroare la salvare!")
            }
        });

    }

</script>