﻿@model List<logica.Models.s1Cerinta>
@{
    ViewBag.Title = "Vizualizare sesiune blitz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vizualizare sesiune blitz pentru elevul <span id="numeElev"></span></h2>
<h3>Punctaj final:<span id="punctaj"></span></h3>
<h3 >Data: <span id="data"></span></h3>

@for (int i = 0; i < Model.Count(); i++)
{
    <div class="col-md-12 answers">
        <div class="row">
            @(i + 1). @Model[i].cerinta
        </div>
        <div class="row">
            <input type="radio" name="optradio_@i" value="@Model[i].answer" order="1" disabled>     a) @Model[i].r1
        </div>
        <div class="row">
            <input type="radio" name="optradio_@i" value="@Model[i].answer" order="2" disabled>      b) @Model[i].r2
        </div>
        <div class="row">
            <input type="radio" name="optradio_@i" value="@Model[i].answer" order="3" disabled>       c) @Model[i].r3
        </div>
        <div class="row">
            <input type="radio" name="optradio_@i" value="@Model[i].answer" order="4" disabled>      d) @Model[i].r4
        </div>
    </div> <br />

}
<p id="punctaj"></p>

@using (Html.BeginForm("VizualizareRezultateBlitz", "Profesor", FormMethod.Get))
{


    <button class="btn glyphicon glyphicon-ok-sign" type="submit" id="returnBtn" style="display:none">Intoarce-te la pagina cu variante</button>
}
<script type="text/javascript">
    var listaRaspunsuri=@Html.Raw(Json.Encode(ViewBag.listaRaspunsuriXML));
        
    var rezultate=@Html.Raw(Json.Encode(ViewBag.rezultate));
    document.getElementById('numeElev').innerText=rezultate.idElev;
    var da=@Html.Raw(Json.Encode(ViewBag.dataOra.ToString()));
    document.getElementById('data').innerText=da;
    document.getElementById('punctaj').innerText=rezultate.ultimulPunctaj;
    //    console.log(rezultate);
    //console.log(listaRaspunsuri);
    var list = document.getElementsByClassName('answers');


    for (var i = 0; i < list.length; i++) {
        var opt1=document.getElementsByName('optradio_'+i);
     
        opt1[listaRaspunsuri[i]-1].checked=true;
    }
        for (var i = 0; i < list.length; i++) {

            var el=document.getElementsByName('optradio_'+i);
            if(el[el[0].value-1].checked==true){
                //  console.log(el[el[0].value-1]);
                el[el[0].value-1].parentNode.style.backgroundColor='yellowgreen';
            }
            else{

                el[el[0].value-1].parentNode.style.backgroundColor='green';
                if(el[0].checked==true){
                    el[0].parentNode.style.backgroundColor="red";
                }
                if(el[1].checked==true){
                    el[1].parentNode.style.backgroundColor="red";
                }
                if(el[2].checked==true){
                    el[2].parentNode.style.backgroundColor="red";
                }
                if(el[3].checked==true){
                    el[3].parentNode.style.backgroundColor="red";
                }
            }
        }

</script>