﻿


<canvas class="col-md-4" id="canvas">

</canvas>
<script src="~/Scripts/js/fabric.js"></script>
<script  type="text/javascript">
    function add() {
        var circle = new fabric.Circle({
             radius: 50,
            stroke: 'black',
            strokeWidth: 1,
            fill: 'rgba(0,0,0,0)',
            originX: 'center',
            originY: 'center'
        });

        var textA = new fabric.Text('A', {
            fontSize: 30,
            originX: 'center',
            originY: 'center'
        });
        var textB = new fabric.Text('B', {
            fontSize: 30,
            originX: 'center',
            originY: 'center'
        });
        var textC = new fabric.Text('C', {
            fontSize: 30,
            originX: 'center',
            originY: 'center'
        });
        var textD = new fabric.Text('D', {
            fontSize: 30,
            originX: 'center',
            originY: 'center'
            });
        var group1 = new fabric.Group([circle, textA], {
            left: 150,
            top: 50,
        });

        var group2 = new fabric.Group([circle, textB], {
            left: 100,
            top: 50,
        });
        var group3 = new fabric.Group([circle, textC], {
            left: 50,
            top: 50,
        });
        var group4 = new fabric.Group([circle, textD], {
            left: 0,
            top: 50,
        });

        canvas.add(group1, group2, group3,group4);
        
       

    }

    var $ = function (id) { return document.getElementById(id) };

    var canvas = this.__canvas = new fabric.Canvas('canvas');
    //var canvas = this.__canvas = new fabric.Canvas('canvasModal');

   
    fabric.Object.prototype.transparentCorners = true;
    add();
</script>