﻿ @model List<logica.Models.varianta>
@{
    ViewBag.Title = "listaVariante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>listaVariante</h2>

<table>
    <thead>
        <tr>
    @Html.ActionLink("Adauga varianta noua", "variantaNoua",null, new { @class = "glyphicon glyphicon-zoom-in btn btn-info" })            
        </tr>
        <tr>
            <th>
                ID
            </th>
            <th>
                Numele variantei
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @for (int i = 0; i < Model.Count(); i++)
    {<tr>
     <td>
         @Model[i].ID
     </td>
           <td>
               @Model[i].nume
           </td>
    <td>
        <button class="glyphicon glyphicon-zoom-in btn" type="button" onclick="openCompleteSub(@Model[i].ID)" ></button>
    </td>
        <td>
            @Html.ActionLink("Incepe testarea","testare","evaluare",new {id=Model[i].ID }, new { @class = " btn btn-success glyphicon glyphicon-blackboard" })

        </td>
        <td>
<button type="button" class="glyphicon glyphicon-remove btn btn-danger" onclick="deleteVar(@Model[i].ID,this)">

</button>
        </td>
     </tr>

    }

    </tbody>
</table>
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content container" id="modal-content">
            <div id="continut" class="form-horizontal">

            </div>


        </div>
    </div>
</div>
<script type="text/javascript">
    function openCompleteSub(id) 
    {
        
        $.ajax({
            async: false,
            cache: false,
            type: "GET",
            url: "/s1Cerinte/variantaModal",
            data: { "id":id },
        }).done(function (data) {
            document.getElementById('continut').innerHTML=data;
            $('#myModal').modal('show');
        });

    }
    function deleteVar(id,el){

        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/s1Cerinte/deleteVar",
            data: { "id":id },
        }).done(function (data) {
            if(data.ok==true){
                el.parentNode.parentNode.remove();


            } else 
            {
                alert("Eroare la stergere!")
            }
        });

    }

</script>