﻿<div class="row">
    <form action="javascript:addNewS1Cerinta()">
        <div class="col-md-12">
            <div class="form-group">
                <label class="control-label col-md-2" for="s1Name">Categoria cerintei</label>
                <div class="col-md-10">
                    <input id="s1Name" class="form-control" placeholder="Categoria">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="s1Name">Cerinta</label>

                <div class="col-md-10">
                    <textarea id="s1Cerinta" class="form-control col-md-12" placeholder="Cerinta" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="s1Name">Prima varianta de raspuns</label>

                <div class="col-md-10">
                    <textarea id="r1" class="form-control col-md-12" placeholder="Prima varianta de raspuns" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="s1Name">A doua varianta de raspuns</label>

                <div class="col-md-10">
                    <textarea id="r2" class="form-control col-md-12" placeholder="A doua varianta de raspuns" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="s1Name">A treia varianta de raspuns</label>

                <div class="col-md-10">
                    <textarea id="r3" class="form-control col-md-12" placeholder="A treia varianta de raspuns" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="s1Name">A patra varianta de raspuns</label>

                <div class="col-md-10">
                    <textarea id="r4" class="form-control col-md-12" placeholder="A patra varianta de raspuns" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2" for="s1Name">Raspunsul corect</label>

                <div class="col-md-10">
                    <select class="form-control" id="s1Answer" required>
                        <option></option>
                        <option value="1">a)</option>
                        <option value="2">b)</option>
                        <option value="3">c)</option>
                        <option value="4">d)</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 btn-toolbar" role="toolbar">
            <button type="submit" class="btn btn-success btn-lg pull-left glyphicon glyphicon-floppy-save">Salveaza</button>
            <button type="button" onclick='$("#myModal").modal("toggle");clearInputs(document.getElementById("myModal"))' class="btn btn-danger btn-lg glyphicon glyphicon-erase pull-right">Anuleaza</button>
        </div>
    </form>

        </div>

<script type="text/javascript">
    $(document).ready(function () {
        clearInputs(document.getElementById('myModal'));
    })
    function clearInputs(element)
    {
        var lista = element.getElementsByTagName('input');
        for (var i = 0; i < lista.length; i++) {
            lista[i].value = "";
        }
        var lista = element.getElementsByTagName('textarea');
        for (var i = 0; i < lista.length; i++) {
            lista[i].value = "";
        }
         lista = element.getElementsByTagName('select');
        for (var i = 0; i < lista.length; i++) {
            lista[i].value ="";
        }

    }
    function addNewS1Cerinta() {

        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/s1Cerinte/addS1",
            data: {
                "model.nume": document.getElementById("s1Name").value,
                "model.cerinta": document.getElementById("s1Cerinta").value,
                "model.r1": document.getElementById("r1").value,
                "model.r2": document.getElementById("r2").value,
                "model.r3": document.getElementById("r3").value,
                "model.r4": document.getElementById("r4").value,
                "model.answer": $("#s1Answer option:selected").val()
            },
        }).done(function (data) {
            if (data.ok == true) {
                //   location.reload(true);
                // s1ATbody

                $("#myModal").modal('toggle');
                var string = "<tr onclick=" + 'selectS1A(3,this)' + ">" +
                    "<td>" + data.model.ID + "</td>" +
                    "<td>" + data.model.nume + "</td>" +
                    "<td>" + data.model.cerinta + "</td>" +
                    "<td>" + data.model.r1 + "</td>" +
                    "<td>" + data.model.r2 + "</td>" +
                    "<td>" + data.model.r3 + "</td>" +
                    "<td>" + data.model.r4 + "</td>" +
                    "<td>" + data.model.answer + "</td>" +
                    "</tr>";
                $("#s1ATbody").prepend(string);
                clearInputs(document.getElementById('myModal'));
            }
            else {
                alert("Eroare la adaugare!")
            }
        });


    }


</script>