﻿@model List<logica.Models.s1Cerinta>
@{
    ViewBag.Title = "s1Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<h2>s1Index</h2>
<div class="col-md-12">
    <table style="text-align:center" id="tab1">
        <thead>
            <tr>
                <th>
                    <button type="button" onclick="$('#myModal').modal('show')" style="left:2cm" class="btn glyphicon glyphicon-plus">
                        Adauga subiect A
                    </button>

                </th>
                <th>
                    <button type="button" onclick="$('#myModal2').modal('show')" style="left:2cm" class="btn glyphicon glyphicon-plus">
                        Adauga subiect B
                    </button>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Nume</th>
                <th>Cerinta</th>
                <th>R1</th>
                <th>R2</th>
                <th>R3</th>
                <th>R4</th>
                <th>Corect</th>
                <th></th>
            </tr>

        </thead>
        <tbody id="s1ATbody">
            @for (int i = 0; i < Model.Count(); i++)
        {
                <tr>
                    <td>
                        @Model[i].ID
                    </td>

                    <td>
                        @Model[i].nume
                    </td>

                    <td>
                        @Model[i].cerinta
                    </td>

                    <td>
                        @Model[i].r1
                    </td>

                    <td>
                        @Model[i].r2
                    </td>

                    <td>
                        @Model[i].r3
                    </td>

                    <td>
                        @Model[i].r4
                    </td>
                    <td>
                        @Model[i].answer
                    </td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm glyphicon glyphicon-edit" onclick="editeazaCeritna(@Model[i].ID)">Editeaza cerinta</button>
                        <button type="button" class="glyphicon glyphicon-remove-circle btn btn-danger" onclick="removeS1(@Model[i].ID,this)"></button>
                    </td>
                </tr>
        }



        </tbody>
    </table>
</div>
<div class="col-md-12">
    @Html.Action("s1bPartial")
</div>

<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content container" id="modal-content">
            <div id="continut" class="form-horizontal">

                @Html.Action("s1AddModal", "s1Cerinte")

            </div>


        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content container" id="modal-content">
            <div id="continut" class="form-horizontal">

                @Html.Action("s1BAddModal", "s1Cerinte")

            </div>


        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" style="width:50%" role="document">
        <div class="modal-content container" id="modal-content">
            <div id="continut3" class="form-horizontal">
      
    <canvas id="canvasModal" class="col-md-12"></canvas>

              

            </div>


        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-sm" id="cerintaModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content container" id="modal-content">
            <div id="modCont" class="form-horizontal">

            </div>
        </div>
    </div>
</div>

@section Scripts{

    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>

    <script src="~/Scripts/DataTables/buttons.colVis.min.js"></script>

<script type="text/javascript"> 
 //   $("#tab1").dataTable();
    // $("#tab2").dataTable();
    $(document).ready(function(){
    var canvas5 = this.__canvas = new fabric.Canvas('canvasModal');

    })
    function removeS1(id, el) {

        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/s1Cerinte/deleteS1Cerinta",
            data: { "id": id },
        }).done(function (data) {
            if (data.ok == true) {
                el.parentNode.parentNode.remove();


            } else {
                alert("Eroare la stergere!")
            }
        });



    }
    function removeS1B(id, el) {

        $.ajax({
            async: false,
            cache: false,
            type: "POST",
            url: "/s1Cerinte/deleteS1BCerinta",
            data: { "id": id },
        }).done(function (data) {
            if (data.ok == true) {
                el.parentNode.parentNode.remove();


            } else {
                alert("Eroare la stergere!")
            }
        });



    }

    function editeazaCeritna(id) {

        $.ajax({
            async: false,
            cache: false,
            type: "GET",
            url: "/s1Cerinte/cerintaEditor",
            data: { "id": id },
        }).done(function (data) {
            document.getElementById('modCont').innerHTML = data;
            $('#cerintaModal').modal('show');
        });



    }
    function openDiagramModal(id) {
        $.ajax({
            async: false,
            cache: false,
            type: "GET",
            url: "/s1Cerinte/s1b1Modal",
            data: { "id": id },
        }).done(function (data) {
            if (data.svg != null) {
                canvas5.loadFromDatalessJSON(data.svg);
                $("#myModal3").modal("show");
            } else {
                alert("Eroare la cautare!")
            }
        });

    }
</script>
}