﻿@model List<logica.Models.s1Cerinta>

<div id="tabdiv" class="col-md-12">
    <h1>Subiectul 1 A</h1>

    <table id="tab1">
        <thead>
            <tr>
                <th>
                    <button type="button" onclick="$('#myModals1').modal('show')" style="left:2cm" class="btn glyphicon glyphicon-plus">
                        Adauga subiect A
                    </button>

                </th>
                <th>
                    <button type="button" onclick="$('#myModal2').modal('show')" style="left:2cm" class="btn glyphicon glyphicon-plus">
                        Adauga subiect B
                    </button>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>ID</th>
                <th>Nume</th>
                <th>Cerinta</th>
                <th>R1</th>
                <th>R2</th>
                <th>R3</th>
                <th>R4</th>
                <th>Corect</th>
            </tr>

        </thead>
        <tbody id="s1ATbody">
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr onclick="selectS1A(@Model[i].ID,this)">
                    <td>
                        @Model[i].ID
                    </td>

                    <td>
                        @Model[i].nume
                    </td>

                    <td>
                        @Model[i].cerinta
                    </td>

                    <td>
                        @Model[i].r1
                    </td>

                    <td>
                        @Model[i].r2
                    </td>

                    <td>
                        @Model[i].r3
                    </td>

                    <td>
                        @Model[i].r4
                    </td>
                    <td>
                        @Model[i].answer
                    </td>

                </tr>
            }



        </tbody>
    </table>
</div>

<div class="col-md-12">


    <table>
        <thead>
            <tr>
                <th>
                Lista cu cerinte
                </th>
                
            </tr>
            <tr>
                <th>ID</th>
                <th>Nume</th>
                <th>Cerinta</th>
                <th>R1</th>
                <th>R2</th>
                <th>R3</th>
                <th>R4</th>
                <th>Corect</th>
            </tr>

        </thead>
        <tbody id="listBody">         



        </tbody>
    </table>

</div>
<div class="col-md-12">
<h2>S1 B</h2>

    @Html.Action("s1bPartial")

</div>
